@charset "UTF-8";

/*article-card*/

.article-card {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  margin-bottom: 64px;
}

.article-card .page__title-h3 {
  font-size: 22px;
}

.article-card__img {
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
}

.article-card__img img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.article-card__text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  padding: 10px;
  position: relative;
  color: initial;
}

.article-card__text ul li {
  width: 80%;
}

.article-card__text .list .page__text {
  padding-left: 10px;
  font-style: italic;
}

.article-card__text-icons-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  right: 11px;
}

.article-card__text-icons-info .icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.article-card__text-icons-info .icon img {
  margin-right: 4px;
}

.article-card__text-order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.article-card__text-order .price {
  width: 50%;
}

.article-card__text-order .page__title-h3 {
  font-size: 18px;
}

.article-card__text-order .page__title-h3 span {
  font-size: 14px;
  line-height: 150%;
  color: #8D6141;
}

.article-card__text ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.article-card__text ul li img {
  margin-right: 10px;
}

.article-card-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  text-decoration: none;
  background: #FFFFFF;
  border: 1px solid #F5F0EB;
  -webkit-box-shadow: 0px 0px 15px rgba(1, 39, 104, 0.1);
  box-shadow: 0px 0px 15px rgba(1, 39, 104, 0.1);
  border-radius: 10px;
}

.article-card-container .page__title-h3 {
  font-size: 16px;
}

.article-card-container .page__text {
  font-size: 14px;
}

.page-btn_outline {
  background: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  padding: 12px 24px;
  border: 1px solid #A87E5C;
  border-radius: 6px;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  color: #8D6141;
}

/*article-cards*/

.article-cards-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.article-cards-inner .tabs {
  width: 100%;
}

.article-cards .page__title {
  color: #012768;
  margin-bottom: 20px;
}

/*_banner*/

.banner {
  position: relative;
  padding-bottom: 80px;
}

.banner .wrapper {
  height: inherit;
  bottom: 23px;
}

.banner .page__title-h1 {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline;
}

.banner .page__text {
  color: #fff;
  font-family: Philosopher-Regular;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline;
}

.banner_bg {
  position: relative;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.banner_bg-shadow {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 10;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.banner_bg img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.banner__title_left .page__title-h1 {
  color: #ffffff;
  margin-bottom: 24px;
}

.banner-inner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 70px 0;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  z-index: 20;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.banner-inner .wrapper {
  width: 100%;
}

.banner-inner_center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: center;
  bottom: 12px;
}

.banner-inner_left {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.banner-cuisine {
  padding-bottom: 50px;
}

/*bath-items*/

.bath-items-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.bath-items .page__title {
  color: #012768;
  margin-bottom: 20px;
}

.bath-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  margin-bottom: 64px;
}

.bath-item .page__title-h3 {
  font-size: 22px;
}

.bath-item__img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
}

.bath-item__img img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 424px;
}

.bath-item__text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  padding: 10px;
  position: relative;
  color: initial;
}

.bath-item__text ul li {
  width: 80%;
}

.bath-item__text .list .page__text {
  padding-left: 10px;
  font-style: italic;
}

.bath-item__text-icons-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  right: 11px;
}

.bath-item__text-icons-info .icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.bath-item__text-icons-info .icon img {
  margin-right: 4px;
}

.bath-item__text-order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.bath-item__text-order .price {
  width: 50%;
}

.bath-item__text-order .page__title-h3 {
  font-size: 18px;
}

.bath-item__text-order .page__title-h3 span {
  font-size: 14px;
  line-height: 150%;
  color: #8D6141;
}

.bath-item__text ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.bath-item__text ul li img {
  margin-right: 10px;
}

.bath-item-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  text-decoration: none;
  background: #FFFFFF;
  border: 1px solid #F5F0EB;
  -webkit-box-shadow: 0px 0px 15px rgba(1, 39, 104, 0.1);
  box-shadow: 0px 0px 15px rgba(1, 39, 104, 0.1);
  border-radius: 10px;
}

.bath-item-container .page__title-h3 {
  font-size: 16px;
}

.bath-item-container .page__text {
  font-size: 14px;
}

.page-btn_outline {
  background: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  padding: 12px 24px;
  border: 1px solid #A87E5C;
  border-radius: 6px;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  color: #8D6141;
}

/*callback*/

.callback {
  padding: 30px 0;
}

.callback-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.callback .page-form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  padding: 24px;
  box-sizing: border-box;
  text-align: center;
  background: #F5F0EB;
  border: 1px solid #F5F0EB;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(1, 39, 104, 0.05);
  box-shadow: 0px 0px 20px 10px rgba(1, 39, 104, 0.05);
}

.callback .page-form.page-form-callback {
  position: relative;
}

.callback .page-form__img {
  position: absolute;
  top: 59%;
  right: 6%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -webkit-justify-content: right;
  -ms-flex-pack: right;
  justify-content: right;
  margin-top: -60px;
}

.callback .page-form .page-form-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.callback .page-form .page-form-links .page-link {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
}

.callback .page-form .page__title {
  color: #012768;
  margin: 0 auto 32px;
}

.callback .page-form .page-input {
  margin: 0 auto 32px;
}

/*certificates*/

.certificates .page__text {
  font-size: 14px;
  line-height: 150%;
}

.certificates .page-link {
  font-size: 14px;
  line-height: 150%;
  color: #012768;
}

.certificates-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.certificates-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  background: #F5F0EB;
  -webkit-box-shadow: 0px 0px 15px rgba(1, 39, 104, 0.1);
  box-shadow: 0px 0px 15px rgba(1, 39, 104, 0.1);
  border-radius: 10px;
  padding: 32px;
  box-sizing: border-box;
}

.certificates-item .page__title {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 150%;
}

.certificates-item .page__text {
  margin-bottom: 24px;
}

.certificates__step {
  padding-bottom: 48px;
  margin-bottom: 48px;
  border-bottom: 1px dashed #E5D8CE;
}

.certificates__step .page__title {
  color: #012768;
  margin-bottom: 32px;
}

/*info-block*/

.info-block .page__title {
  color: #012768;
  margin-bottom: 16px;
}

.info-block .page__text {
  margin-bottom: 24px;
}

.info-block__img {
  position: relative;
}

.info-block__img img {
  width: 100%;
}

.info-block__link-show-more {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.info-block__link-show-more .page-link {
  color: #fff;
}

/*info-block-cards*/

.info-block-cards .page__title {
  color: #012768;
}

.info-block-cards-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info-block-cards__text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info-block-cards__text .page__title {
  margin-bottom: 16px;
}

.info-block-cards__text .page__text {
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 16px;
}

.info-block-cards__text .page-link {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #012768;
}

.info-block-cards__img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
}

/*info-block-certificates*/

.info-block-certificates {
  padding: 60px 0;
}

.info-block-certificates-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info-block-certificates__card {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
}

.info-block-certificates__card:nth-child(2) .info-block-certificates-card {
  margin-top: 60px;
}

.info-block-certificates-card {
  background: #F5F0EB;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(1, 39, 104, 0.05);
  box-shadow: 0px 0px 20px 10px rgba(1, 39, 104, 0.05);
  border-radius: 20px;
  padding: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info-block-certificates-card .page__title {
  margin-bottom: 25px;
  font-size: 26px;
  line-height: 150%;
  padding-right: 26px;
}

.info-block-certificates-card .page__text {
  margin-bottom: 50px;
  font-size: 20px;
}

.info-block-certificates-card .page-link {
  color: #012768;
  font-size: 16px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

/*callback*/

.order-form {
  padding: 80px 0 40px;
  width: 100%;
}

.order-form-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.order-form-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(50% - 24px);
  width: calc(50% - 24px);
  background: #FFFFFF;
  border: 1px solid #F5F0EB;
  -webkit-box-shadow: 0px 0px 15px rgba(1, 39, 104, 0.1);
  box-shadow: 0px 0px 15px rgba(1, 39, 104, 0.1);
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 24px;
  box-sizing: border-box;
}

.order-form-container__price .price span {
  font-size: 14px;
  line-height: 150%;
  color: #8D6141;
}

.order-form-container__price .page__title {
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 0 !important;
}

.order-form-container__btn .page-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 12px 24px;
  color: #fff;
  background: #A87E5C;
  border-radius: 6px;
  font-size: 14px;
}

/*_prices*/

.prices .page__title-h2 {
  margin-bottom: 48px;
  color: #27477F;
  text-align: center;
}

.prices-item-service .page__title-h4 {
  font-size: 18px;
  line-height: 150%;
  color: #27477F;
  text-align: center;
  margin-bottom: 32px;
}

.prices-item-service .page__text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.prices-item-service__list {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px dashed #8D6141;
  margin-bottom: 32px;
}

.prices-item-service__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 18px;
  line-height: 150%;
  color: #8D6141;
  background: #fff;
  padding-right: 15px;
  margin-bottom: -1px;
  max-width: 40%;
}

.prices-item-service__title {
  font-size: 18px;
  line-height: 150%;
}

.prices-item-service__description {
  font-size: 16px;
  line-height: 150%;
}

.prices-item-service__person {
  margin-left: 10px;
  white-space: nowrap;
}

.prices-item-service__price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  white-space: nowrap;
  padding-left: 15px;
  font-size: 18px;
  line-height: 150%;
  color: #012768;
  background: #fff;
  margin-bottom: -1px;
}

.prices-item-service__price span {
  font-size: 14px;
  line-height: 150%;
  color: #8D6141;
}

/*review*/

.review {
  padding: 60px 0;
}

.review .page__title {
  padding-bottom: 24px;
}

.review-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.review__toggles .swiper-button-prev,
.review__toggles .swiper-button-next {
  color: #012768;
  border: 1px solid #012768 !important;
}

.review__toggles .swiper-button-next:after,
.review__toggles .swiper-button-prev:after {
  color: #012768 !important;
}

.review__link {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 24px;
}

.review__link .page-link {
  color: #012768;
}

.review-items {
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  overflow: inherit;
}

.review-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  margin: 0 auto;
  padding: 44px 44px 22px 24px;
  box-sizing: border-box;
  background: #F5F0EB;
  border: 1px solid #F5F0EB;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(1, 39, 104, 0.05);
  box-shadow: 0px 0px 20px 10px rgba(1, 39, 104, 0.05);
  position: relative;
}

.review-item .bg {
  position: absolute;
  right: 0;
  top: -50px;
}

.review-item__stars {
  margin-bottom: 24px;
}

.review-item__text {
  margin-bottom: 24px;
}

.review-item__text .page__text {
  font-size: 18px;
  line-height: 150%;
}

.review-item__name {
  text-align: right;
  color: #7D4E30;
}

/*slider-banner*/

.slider-banner {
  padding: 10px 0;
}

.slider-banner-slide {
  position: relative;
}

.slider-banner-slide__text {
  position: absolute;
  width: 100%;
  z-index: 50;
}

.slider-banner-slide-text {
  margin-top: 130px;
  margin-left: -webkit-calc(8.33333% + 12px);
  margin-left: calc(8.33333% + 12px);
}

.slider-banner-slide-text .page__title {
  font-size: 22px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline;
}

.slider-banner-slide-text .price {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline;
}

.slider-banner-slide-text .price span {
  font-size: 18px;
}

.slider-banner-slide__img {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.slider-banner-slide__img_bg {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 10;
  width: 100%;
}

.slider-banner-slide__img img {
  width: 100%;
  min-height: 400px;
  -o-object-fit: contain;
  object-fit: contain;
  max-height: 650px;
}

.slider-banner__toggles {
  position: relative;
  z-index: 50;
  bottom: 24px;
}

.slider-banner__link-show-more {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.slider-banner__link-show-more .page-link {
  color: #fff;
}

/*cuisine*/

/*cuisine-advantages*/

.cuisine-advantages {
  padding-bottom: 50px;
}

.cuisine-advantages .page__title {
  color: #012768;
  font-size: 16px;
}

.cuisine-advantages .page__text {
  font-size: 14px;
}

.cuisine-advantages-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.cuisine-advantages__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  position: relative;
}

.cuisine-advantages__item_bg {
  top: 0;
  right: 0;
  text-align: right;
}

.cuisine-advantages__item-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cuisine-advantages__item-text .page-ul {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: disc;
}

.cuisine-advantages__item-text .page-ul .page-li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  font-size: 14px;
}

/*cuisine-contacts*/

.cuisine-contacts-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.cuisine-contacts__map {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  margin-top: 100px;
  position: relative;
}

.cuisine-contacts__text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  padding-left: -webkit-calc(16.66667% + 12px);
  padding-left: calc(16.66667% + 12px);
  padding-top: 86px;
  padding-right: 80px;
  background: #F5F0EB;
  border-radius: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.cuisine-contacts__text .page__title {
  color: #012768;
}

.cuisine-contacts__text .page__text {
  font-size: 18px;
}

.cuisine-contacts__text-item span {
  color: #7D4E30;
  font-size: 20px;
  margin-bottom: 15px;
}

.cuisine-contacts__text-item .page__text {
  font-size: 14px;
}

/*cuisine-menu*/

.cuisine-menu .page__title {
  color: #012768;
}

.cuisine-menu-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.cuisine-menu__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  margin-bottom: 15px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.cuisine-menu__item:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.cuisine-menu__item-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.cuisine-menu__item-img img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.cuisine-menu__item-text {
  padding-left: 20px;
}

/*cuisine-shef*/

/*shef*/

.cuisine-shef {
  padding-bottom: 100px;
}

.cuisine-shef-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.cuisine-shef-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
}

.cuisine-shef-item__text {
  text-align: center;
}

.cuisine-shef-item__text .page__title {
  color: #012768;
  margin-bottom: 5px;
}

.cuisine-shef-item__text .page__title.page_braun {
  color: #7D4E30;
}

.cuisine-shef-item__text .page__text {
  font-size: 18px;
  margin-bottom: 20px;
}

/* __debugGrid__ */

.debugGrid {
  height: 100vh;
  position: fixed;
  width: 100%;
}

.debugGrid .wrapper {
  height: inherit;
}

.debugGrid .parentFlex {
  height: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.debugGrid .childFlex {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(8.33333% - 24px);
  width: calc(8.33333% - 24px);
  height: inherit;
  outline: 1px solid #ff0;
  background: rgba(0, 0, 0, 0.4);
}

.debugGrid-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #ff0;
  border-radius: 50%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.debugGrid-btn__hidden {
  display: none;
}

.debugGrid-btn:before,
.debugGrid-btn:after {
  content: '';
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background: #000;
}

.debugGrid-btn:before {
  width: 25px;
  height: 2px;
}

.debugGrid-btn__create:after {
  width: 2px;
  height: 25px;
  position: absolute;
}

.debugGrid__z-index-negative {
  z-index: -1;
}

/* __debugGrid__ */

/*footer*/

.footer {
  background: #F5F0EB;
  padding: 80px 0 40px;
}

.footer-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.footer__nav .footer__col {
  margin-bottom: 20px;
}

.footer__nav .page__title {
  color: #012768;
  margin-bottom: 10px;
}

.footer__nav .page-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 150%;
}

.footer__nav .page-fl-aic {
  margin-bottom: 16px;
  color: #7D4E30;
}

.footer__nav .page-fl-aic .page-link {
  margin: 0;
}

.footer__col {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(50% - 24px);
  width: calc(50% - 24px);
}

.footer__contacts {
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
}

.footer__bottom {
  padding-top: 40px;
  border-top: 1px solid #E5D8CE;
}

.footer__bottom .footer-inner {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__logo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer__logo img {
  width: 153px;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer__copy {
  color: #7D4E30;
  margin-left: 16px;
}

.footer__social {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header {
  padding: 16px 0 10px;
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header .wrapper {
  position: relative;
}

.header-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__logo img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  max-width: 152px;
  max-height: 100px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.header__nav {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  display: none;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}

.header__nav .page-link {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  white-space: nowrap;
}

.header__phone .page-link {
  white-space: nowrap;
}

.header__menu .menu-btn {
  /* Auto layout */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  margin-left: 10px;
  width: 62px;
  height: 30px;
  /* braun/900 */
  border: 1px solid #7D4E30;
  border-radius: 50px;
}

/*images-menu*/

/*impressions-menu*/

.impressions-menu .page__title {
  margin-bottom: 32px;
  color: #012768;
}

.impressions-menu .images-menu-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.impressions-menu .images-menu__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  margin-bottom: 15px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.impressions-menu .images-menu__item:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.impressions-menu .images-menu__item-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 370px;
  width: 370px;
  border-radius: 20px;
  margin-bottom: 8px;
}

.impressions-menu .images-menu__item-img img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -o-object-fit: cover;
  object-fit: cover;
}

.impressions-menu .images-menu__item-text {
  padding-left: 20px;
}

.impressions-menu .images-menu__item .page__title {
  color: #012768;
}

/*menu*/

/*menu*/

.menu {
  position: absolute;
  right: 0;
  top: 90px;
  color: #000;
  background: #fff;
  /* p/2 */
  -webkit-box-shadow: 0px 0px 15px rgba(1, 39, 104, 0.1);
  box-shadow: 0px 0px 15px rgba(1, 39, 104, 0.1);
  border-radius: 10px;
  padding: 32px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.menu a {
  color: #000;
}

.menuHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.menuContent_desktop,
.menuContent_mobile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menuContent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menuContent_desktop {
  display: none;
}

.menuContent_mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.menuContent .page-link {
  width: 100%;
  padding: 8px 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menuContent .page-link:hover {
  background: #F5F0EB;
}

.menuLogo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80%;
  margin-bottom: 13%;
}

.menuNav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menuLink {
  width: 100%;
  font-size: 24px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.02em;
}

.menuConacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

.menuConactsItem {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(75% - 24px);
  width: calc(75% - 24px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
}

.menuConactsItem .icon {
  min-width: 20px;
  margin-right: 23px;
}

.menuConactsItem:nth-of-type(3) {
  display: none;
}

.menuClose {
  cursor: pointer;
}

.menuConactsIcons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 7%;
}

/*select-city*/

.select-city {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 16px;
}

.select-city .page__text {
  font-size: 14px;
  line-height: 150%;
}

/*single-bath-page*/

.single-bath-page-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.single-bath-page-inner .page__title {
  color: #012768;
  margin-bottom: 20px;
}

.single-bath-page-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.single-bath-page__img {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.single-bath-page__img .single-bath-page__img-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.single-bath-page__img .single-bath-page__img-box:first-child {
  grid-area: 1 / 1 / 3 / 3;
}

.single-bath-page__img .single-bath-page__img-box:nth-child(2) {
  grid-area: 1 / 3 / 2 / 4;
}

.single-bath-page__img .single-bath-page__img-box:nth-child(3) {
  grid-area: 1 / 4 / 2 / 5;
}

.single-bath-page__img .single-bath-page__img-box:nth-child(4) {
  grid-area: 2 / 4 / 3 / 5;
  position: relative;
}

.single-bath-page__img .single-bath-page__img-box:nth-child(4)::after {
  font-size: 26px;
  line-height: 140%;
  font-weight: bold;
  content: '+2';
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-shadow: black;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}

.single-bath-page__img .single-bath-page__img-box:nth-child(5) {
  grid-area: 2 / 3 / 3 / 4;
}

.single-bath-page__img .single-bath-page__img-box:nth-child(n+6) {
  display: none;
}

.single-bath-page__img .single-bath-page__img-box:nth-child(n+2) {
  max-width: 350px;
}

.single-bath-page__img .single-bath-page__img-box img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 40px;
}

.single-bath-page__img img {
  padding: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.single-bath-page__img-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.single-bath-page__img-4 img {
  padding: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.single-bath-page-advantages {
  width: 100%;
  padding: 24px 0;
}

.single-bath-page-advantages .page__title-h3 {
  margin-bottom: 24px;
}

.single-bath-page-advantages__lists {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.single-bath-page-advantages__lists .page__title {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  margin-left: 24px;
  width: 100%;
}

.single-bath-page-advantages__lists .page-ul {
  width: 100%;
}

.single-bath-page-advantages__lists .page-ul_lv-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.single-bath-page-advantages__lists .page-ul_lv-2 li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
}

.single-bath-page-description {
  width: 100%;
  padding-bottom: 100px;
  margin-bottom: 45px;
  border-bottom: 1px dashed #E5D8CE;
}

.single-bath-page-description .page__text {
  font-size: 16px;
  line-height: 150%;
}

.single-bath-page-more-order {
  width: 100%;
}

.single-bath-page-more-order__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.single-bath-page-more-order__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  background: #FFFFFF;
  border: 1px solid #F5F0EB;
  -webkit-box-shadow: 0px 0px 15px rgba(1, 39, 104, 0.1);
  box-shadow: 0px 0px 15px rgba(1, 39, 104, 0.1);
  border-radius: 20px;
  padding: 32px;
  margin-bottom: 20px;
}

.single-bath-page-more-order__item .page__title {
  color: #A87E5C;
  margin-bottom: 16px;
}

.single-bath-page-more-order__item .page__text {
  color: #A87E5C;
  font-size: 16px;
  margin-bottom: 24px;
}

.single-bath-page-more-order__item-img {
  margin-bottom: 24px;
}

.single-bath-page-more-order__item-img img {
  width: 100%;
}

.single-bath-page-more-order__item-link .page-link {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #012768;
}

.single-bath-page-information {
  width: 100%;
}

.single-bath-page-information .page-ul {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.single-bath-page-information .page-ul > li {
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
}

.page-ul {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page-ul > li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #8D6141;
  font-size: 16px;
  font-weight: bold;
}

.page-ul > li img {
  max-width: 55px;
  max-height: 55px;
  margin: 5px;
}

.page-ul > li ul {
  padding-top: 20px;
  padding-left: 4px;
}

.page-ul > li ul li {
  font-weight: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-ul > li ul li .page__text {
  font-size: 16px;
}

/*social*/

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*tabs*/

.tabs .tav-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: 32px;
}

.tabs .tab-link {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 150%;
}

.tabs .tab-link.is-active {
  background: #E5D8CE;
  border-radius: 20px;
}

.tabs .tab-link.is-active .page-link {
  color: #012768;
}

.tabs .tab-content {
  display: none;
}

.tabs .tab-content.is-active {
  display: block;
}

/*ui*/

/*btn*/

/*btns*/

/*checkbox*/

/*datapicker*/

/*forms*/

/*input*/

/*link*/

.page-link {
  text-transform: none;
  text-decoration: none;
  /* 16/reg, 19 */
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #7D4E30;
}

.page-link:hover {
  text-decoration: underline;
}

.page-link:disabled {
  opacity: 0.5;
}

.page-link_arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/*modals*/

/*radio*/

/*search*/

/*select*/

*:root {
  --star-size: 60px;
  --star-color: #fff;
  --star-background: #fc0;
}

.stars {
  --percent: -webkit-calc(var(--rating) / 5 * 100%);
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}

.stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: -webkit-gradient(linear, left top, right top, from(var(--star-background)), to(var(--star-color)));
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
}

/*someBlock  if need use without component*/

.swiper .swiper-pagination-bullet-active {
  background: #ffffff;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  width: 32px;
  height: 32px;
  border: 1px solid #ffffff;
  border-radius: 24px;
}

.swiper .swiper-button-next:after,
.swiper .swiper-button-prev:after {
  font-size: 16px;
  color: #ffffff;
}

.page_regular {
  font-family: Philosopher-Regular;
  font-style: normal;
  font-weight: 400;
}

.page__title {
  color: inherit;
}

.page__title-h1 {
  font-size: 26px;
  line-height: 120%;
}

.page__title-h2 {
  font-size: 36px;
  line-height: 120%;
}

.page__title-h3 {
  font-size: 26px;
  line-height: 150%;
  color: #012768;
}

.page__title-h4 {
  font-size: 16px;
  line-height: 119%;
  /* identical to box height, or 119% */
}

.page__text {
  font-size: 22px;
  line-height: 150%;
  color: #7D4E30;
}

.page-fl-aic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-input {
  display: block;
  font-size: 14px;
  line-height: 150%;
  background: transparent;
  border: none;
  /* brown/500 */
  color: #A87E5C;
  opacity: 0.7;
  /* brown/500 */
  padding-bottom: 8px;
  border-bottom: 1px solid #A87E5C;
}

.page__btn {
  padding: 12px 24px;
  color: #7D4E30;
  background: #ffffff;
  border: 1px solid #A87E5C;
  border-radius: 6px;
}

.page-link {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .certificates-item {
    width: -webkit-calc(33.33333% - 24px);
    width: calc(33.33333% - 24px);
  }

  .cuisine-advantages__item {
    width: -webkit-calc(50% - 24px);
    width: calc(50% - 24px);
  }

  .cuisine-shef-item {
    width: -webkit-calc(33.33333% - 24px);
    width: calc(33.33333% - 24px);
  }

  .footer__col {
    width: -webkit-calc(25% - 24px);
    width: calc(25% - 24px);
  }

  .header__nav {
    display: block;
  }

  .menu.active {
    display: block;
  }

  .menuHeader {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .menuLogo {
    margin: 0;
    width: auto;
  }

  .menuNav {
    padding-top: 24%;
  }

  .menuLink {
    font-size: 36px;
    line-height: 80px;
  }

  .menuConacts {
    width: 65%;
    padding-top: 25%;
  }

  .menuConactsItem {
    width: -webkit-calc(37.5% - 24px);
    width: calc(37.5% - 24px);
  }

  .menuConactsItem {
    margin-bottom: 32px;
  }

  .menuConactsItem:nth-of-type(3) {
    width: -webkit-calc(75% - 24px);
    width: calc(75% - 24px);
  }

  .menuConactsItem:nth-of-type(3) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .menuConactsIcons {
    padding-top: 11%;
  }
}

@media screen and (min-width: 1024px) {
  .article-card__img {
    width: -webkit-calc(50% - 24px);
    width: calc(50% - 24px);
  }

  .article-card__text {
    width: -webkit-calc(50% - 24px);
    width: calc(50% - 24px);
  }

  .article-card__text {
    padding: 48px;
  }

  .article-card__text-icons-info {
    position: absolute;
  }

  .banner {
    height: -webkit-calc(100vh - 100px);
    height: calc(100vh - 100px);
    max-height: -webkit-calc(100vh - 100px);
    max-height: calc(100vh - 100px);
  }

  .banner_bg img {
    height: -webkit-calc(100vh - 100px);
    height: calc(100vh - 100px);
  }

  .banner__title_bottom {
    width: 85%;
    margin: 0 auto;
  }

  .banner-inner_center {
    bottom: 70px;
  }

  .bath-item__img {
    width: -webkit-calc(50% - 24px);
    width: calc(50% - 24px);
  }

  .bath-item__text {
    width: -webkit-calc(50% - 24px);
    width: calc(50% - 24px);
  }

  .bath-item__text {
    padding: 48px;
  }

  .bath-item__text-icons-info {
    position: absolute;
  }

  .callback {
    padding: 60px 0;
  }

  .callback .page-form {
    width: -webkit-calc(83.33333% - 24px);
    width: calc(83.33333% - 24px);
  }

  .callback .page-form {
    padding: 64px;
  }

  .callback .page-form .page__title {
    width: -webkit-calc(50% - 24px);
    width: calc(50% - 24px);
  }

  .callback .page-form .page-input {
    width: -webkit-calc(33.33333% - 24px);
    width: calc(33.33333% - 24px);
  }

  .info-block .page__title,
  .info-block .page__text {
    margin-left: -webkit-calc(8.33333% + 12px);
    margin-left: calc(8.33333% + 12px);
  }

  .info-block .page__title,
  .info-block .page__text {
    width: -webkit-calc(50% - 24px);
    width: calc(50% - 24px);
  }

  .info-block-cards {
    padding: 100px;
  }

  .info-block-cards__text {
    width: -webkit-calc(45.83333% - 24px);
    width: calc(45.83333% - 24px);
  }

  .info-block-cards__text {
    padding-left: 40px;
  }

  .info-block-cards__text .page__text {
    padding-left: 20px;
  }

  .info-block-cards__img {
    width: -webkit-calc(45.83333% - 24px);
    width: calc(45.83333% - 24px);
  }

  .info-block-certificates__card {
    width: -webkit-calc(44.16667% - 24px);
    width: calc(44.16667% - 24px);
  }

  .info-block-certificates-card .page__text {
    padding-left: 24px;
  }

  .review .page__title {
    padding-left: 10%;
  }

  .review-items {
    width: -webkit-calc(66.66667% - 24px);
    width: calc(66.66667% - 24px);
  }

  .review-item {
    padding: 64px 64px 32px 80px;
  }

  .review-item .bg {
    right: -50px;
  }

  .slider-banner-slide-text {
    margin-top: 100px;
  }

  .slider-banner-slide-text .page__title {
    font-size: 36px;
  }

  .slider-banner-slide-text .price {
    font-size: 26px;
    line-height: 150%;
  }

  .slider-banner-slide__img img {
    -o-object-fit: cover;
    object-fit: cover;
  }

  .slider-banner__toggles .swiper-button-next {
    right: 42%;
    top: -15px;
  }

  .slider-banner__toggles .swiper-button-prev {
    left: 42%;
    top: -15px;
  }

  .cuisine-advantages__item {
    width: -webkit-calc(25% - 24px);
    width: calc(25% - 24px);
  }

  .cuisine-contacts__map {
    width: -webkit-calc(58.33333% - 24px);
    width: calc(58.33333% - 24px);
  }

  .cuisine-contacts__text {
    width: -webkit-calc(58.33333% - 24px);
    width: calc(58.33333% - 24px);
  }

  .cuisine-contacts__text {
    margin-left: -webkit-calc(-16.66667% + 12px);
    margin-left: calc(-16.66667% + 12px);
  }

  .cuisine-menu__item {
    width: -webkit-calc(33.33333% - 24px);
    width: calc(33.33333% - 24px);
  }

  .cuisine-shef-item {
    width: -webkit-calc(33.33333% - 24px);
    width: calc(33.33333% - 24px);
  }

  .debugGrid .childFlex {
    width: -webkit-calc(8.33333% - 24px);
    width: calc(8.33333% - 24px);
  }

  .footer__nav .page__title {
    margin-bottom: 32px;
  }

  .footer__col {
    width: -webkit-calc(16.66667% - 24px);
    width: calc(16.66667% - 24px);
  }

  .footer__logo {
    width: -webkit-calc(33.33333% - 24px);
    width: calc(33.33333% - 24px);
  }

  .footer__social {
    width: -webkit-calc(33.33333% - 24px);
    width: calc(33.33333% - 24px);
  }

  .header {
    padding-bottom: 16px;
  }

  .header__logo img {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .impressions-menu .images-menu__item {
    width: -webkit-calc(33.33333% - 24px);
    width: calc(33.33333% - 24px);
  }

  .menuContent_desktop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .menuContent_mobile {
    display: none;
  }

  .single-bath-page__img-4 {
    width: -webkit-calc(50% - 24px);
    width: calc(50% - 24px);
  }

  .single-bath-page__img-4 img {
    width: -webkit-calc(50% - 24px);
    width: calc(50% - 24px);
  }

  .single-bath-page-advantages__lists .page-ul_lv-2 li {
    width: -webkit-calc(33.33333% - 24px);
    width: calc(33.33333% - 24px);
  }

  .single-bath-page-description .page__text {
    width: -webkit-calc(83.33333% - 24px);
    width: calc(83.33333% - 24px);
  }

  .single-bath-page-more-order__item {
    width: -webkit-calc(50% - 24px);
    width: calc(50% - 24px);
  }

  .single-bath-page-information .page-ul > li {
    width: -webkit-calc(33.33333% - 24px);
    width: calc(33.33333% - 24px);
  }

  .page__title-h1 {
    font-size: 42px;
  }

  .page__title-h2 {
    font-size: 48px;
  }
}

@media screen and (min-width: 1760px) {
  .debugGrid .childFlex {
    width: -webkit-calc(8.33333% - 24px);
    width: calc(8.33333% - 24px);
  }
}

@media screen and (max-width: 768px) {
  .banner__title_bottom .page__title {
    font-size: 18px;
  }

  .banner__title_bottom .page__text {
    font-size: 14px;
  }

  .banner__title_left .page__title {
    font-size: 18px;
  }

  .banner__title_left .page__text {
    font-size: 14px;
  }

  .menu {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}