@charset "UTF-8";

/*_banner*/

.banner {
  position: relative;
  height: -webkit-calc(100vh - 100px);
  height: calc(100vh - 100px);
  max-height: -webkit-calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  padding-bottom: 140px;
}

.banner .wrapper {
  height: inherit;
}

.banner_bg {
  position: absolute;
  width: 100%;
  top: 0;
}

.banner_bg img {
  width: 100%;
  height: -webkit-calc(100vh - 100px);
  height: calc(100vh - 100px);
  -o-object-fit: cover;
  object-fit: cover;
}

.banner .page__title-h1 {
  color: #ffffff;
}

.banner-inner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 70px 0;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  z-index: 2;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*info-block*/

.info-block .page__title,
.info-block .page__text {
  margin-left: -webkit-calc(8.33333% + 12px);
  margin-left: calc(8.33333% + 12px);
  width: -webkit-calc(50% - 24px);
  width: calc(50% - 24px);
}

.info-block .page__title {
  color: #012768;
  margin-bottom: 16px;
}

.info-block .page__text {
  margin-bottom: 24px;
}

.info-block__img {
  position: relative;
}

.info-block__link-show-more {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.info-block__link-show-more .page-link {
  color: #fff;
}

/*info-block-cards*/

.info-block-cards {
  padding: 100px;
}

.info-block-cards .page__title {
  color: #012768;
}

.info-block-cards-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info-block-cards__text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 40px;
}

.info-block-cards__text .page__title {
  margin-bottom: 16px;
}

.info-block-cards__text .page__text {
  padding-left: 20px;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 16px;
}

.info-block-cards__text .page-link {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #012768;
}

.info-block-cards__img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
}

/*slider-banner*/

.slider-banner {
  padding: 10px 0;
}

.slider-banner-slide {
  position: relative;
}

.slider-banner-slide__text {
  position: absolute;
  width: 100%;
  z-index: 50;
}

.slider-banner-slide-text {
  margin-top: 100px;
  margin-left: -webkit-calc(8.33333% + 12px);
  margin-left: calc(8.33333% + 12px);
}

.slider-banner-slide-text .page__title {
  color: #012768;
}

.slider-banner-slide__img {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.slider-banner-slide__img_bg {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 10;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.slider-banner-slide__img img {
  width: 100%;
}

.slider-banner__toggles {
  position: relative;
  z-index: 50;
  bottom: 24px;
}

.slider-banner__toggles .swiper-button-next {
  right: 42%;
  top: -15px;
}

.slider-banner__toggles .swiper-button-prev {
  left: 42%;
  top: -15px;
}

.slider-banner__link-show-more {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.slider-banner__link-show-more .page-link {
  color: #fff;
}

/*callback*/

.callback {
  padding: 60px 0;
}

.callback-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.callback .callback-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(66.66667% - 24px);
  width: calc(66.66667% - 24px);
  margin: 0 auto;
  padding: 64px 64px 32px 80px;
  box-sizing: border-box;
  text-align: center;
  background: #F5F0EB;
  border: 1px solid #F5F0EB;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(1, 39, 104, 0.05);
  box-shadow: 0px 0px 20px 10px rgba(1, 39, 104, 0.05);
}

.callback .callback-item__name {
  text-align: right;
}

/* __debugGrid__ */

.debugGrid {
  height: 100vh;
  position: fixed;
  width: 100%;
}

.debugGrid .wrapper {
  height: inherit;
}

.debugGrid .parentFlex {
  height: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.debugGrid .childFlex {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(8.33333% - 24px);
  width: calc(8.33333% - 24px);
  height: inherit;
  outline: 1px solid #ff0;
  background: rgba(0, 0, 0, 0.4);
}

.debugGrid-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #ff0;
  border-radius: 50%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.debugGrid-btn__hidden {
  display: none;
}

.debugGrid-btn:before,
.debugGrid-btn:after {
  content: '';
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background: #000;
}

.debugGrid-btn:before {
  width: 25px;
  height: 2px;
}

.debugGrid-btn__create:after {
  width: 2px;
  height: 25px;
  position: absolute;
}

.debugGrid__z-index-negative {
  z-index: -1;
}

/* __debugGrid__ */

/*footer*/

.footer {
  background: #F5F0EB;
  padding: 80px 0 40px;
}

.footer-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.footer__nav .page__title {
  color: #012768;
  margin-bottom: 32px;
}

.footer__nav .page-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.footer__nav .page-fl-aic {
  margin-bottom: 16px;
  color: #7D4E30;
}

.footer__nav .page-fl-aic .page-link {
  margin: 0;
}

.footer__col {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(50% - 24px);
  width: calc(50% - 24px);
}

.footer__contacts {
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
}

.footer__bottom {
  padding-top: 40px;
  border-top: 1px solid #E5D8CE;
}

.footer__bottom .footer-inner {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__logo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer__copy {
  color: #7D4E30;
  margin-left: 16px;
}

.footer__social {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header {
  padding: 16px 0;
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(33.33333% - 24px);
  width: calc(33.33333% - 24px);
}

.header__nav {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(33.33333% - 24px);
  width: calc(33.33333% - 24px);
}

.header__nav .page-link {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
}

.header__menu .menu-btn {
  /* Auto layout */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  margin-left: 10px;
  width: 62px;
  height: 30px;
  /* braun/900 */
  border: 1px solid #7D4E30;
  border-radius: 50px;
}

/*info-block-certificates*/

.info-block-certificates {
  padding: 60px 0;
}

.info-block-certificates-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info-block-certificates__card {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
}

.info-block-certificates__card:nth-child(2) .info-block-certificates-card {
  margin-top: 60px;
}

.info-block-certificates-card {
  background: #F5F0EB;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(1, 39, 104, 0.05);
  box-shadow: 0px 0px 20px 10px rgba(1, 39, 104, 0.05);
  border-radius: 20px;
  padding: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info-block-certificates-card .page__title {
  margin-bottom: 25px;
  font-size: 26px;
  line-height: 150%;
  padding-right: 26px;
}

.info-block-certificates-card .page__text {
  padding-left: 24px;
  margin-bottom: 50px;
}

.info-block-certificates-card .page-link {
  color: #012768;
  font-size: 16px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

/*revies*/

.revies {
  padding: 60px 0;
}

.revies-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.revies .page-form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 12px;
  width: -webkit-calc(83.33333% - 24px);
  width: calc(83.33333% - 24px);
  padding: 64px;
  box-sizing: border-box;
  text-align: center;
  background: #F5F0EB;
  border: 1px solid #F5F0EB;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(1, 39, 104, 0.05);
  box-shadow: 0px 0px 20px 10px rgba(1, 39, 104, 0.05);
}

.revies .page-form .page__title {
  color: #012768;
  margin: 0 auto 32px;
}

.revies .page-form .page-input {
  margin: 0 auto 32px;
}

/*select-city*/

.select-city {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 16px;
}

.select-city .page__text {
  font-size: 14px;
  line-height: 150%;
}

/*social*/

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*ui*/

/*btn*/

/*btns*/

/*checkbox*/

/*datapicker*/

/*forms*/

/*input*/

/*link*/

.page-link {
  text-transform: none;
  text-decoration: none;
  /* 16/reg, 19 */
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #7D4E30;
}

.page-link:hover {
  text-decoration: underline;
}

.page-link:disabled {
  opacity: 0.5;
}

.page-link_arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/*modals*/

/*radio*/

/*search*/

/*select*/

*:root {
  --star-size: 60px;
  --star-color: #fff;
  --star-background: #fc0;
}

.stars {
  --percent: -webkit-calc(var(--rating) / 5 * 100%);
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}

.stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: -webkit-gradient(linear, left top, right top, from(var(--star-background)), to(var(--star-color)));
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
}

/*someBlock  if need use without component*/

.swiper .swiper-pagination-bullet-active {
  background: #ffffff;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  width: 32px;
  height: 32px;
  border: 1px solid #ffffff;
  border-radius: 24px;
}

.swiper .swiper-button-next:after,
.swiper .swiper-button-prev:after {
  font-size: 16px;
  color: #ffffff;
}

.page_regular {
  font-family: Philosopher-Regular;
  font-style: normal;
  font-weight: 400;
}

.page__title {
  color: inherit;
}

.page__title-h1 {
  font-size: 56px;
  line-height: 120%;
}

.page__title-h2 {
  font-size: 48px;
  line-height: 120%;
}

.page__title-h3 {
  font-size: 26px;
  line-height: 150%;
}

.page__title-h4 {
  font-size: 16px;
  line-height: 119%;
  /* identical to box height, or 119% */
}

.page__text {
  font-size: 22px;
  line-height: 150%;
  color: #7D4E30;
}

.page-fl-aic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-input {
  display: block;
  font-size: 14px;
  line-height: 150%;
  background: transparent;
  border: none;
  /* brown/500 */
  color: #A87E5C;
  opacity: 0.7;
  /* brown/500 */
  padding-bottom: 8px;
  border-bottom: 1px solid #A87E5C;
}

.page__btn {
  padding: 12px 24px;
  color: #7D4E30;
  background: #ffffff;
  border: 1px solid #A87E5C;
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .footer__col {
    width: -webkit-calc(25% - 24px);
    width: calc(25% - 24px);
  }

  .header__logo {
    width: -webkit-calc(33.33333% - 24px);
    width: calc(33.33333% - 24px);
  }

  .header__nav {
    width: -webkit-calc(33.33333% - 24px);
    width: calc(33.33333% - 24px);
  }
}

@media screen and (min-width: 1024px) {
  .info-block .page__title,
  .info-block .page__text {
    width: -webkit-calc(50% - 24px);
    width: calc(50% - 24px);
  }

  .info-block-cards__text {
    width: -webkit-calc(45.83333% - 24px);
    width: calc(45.83333% - 24px);
  }

  .info-block-cards__img {
    width: -webkit-calc(45.83333% - 24px);
    width: calc(45.83333% - 24px);
  }

  .slider-banner-slide-text {
    width: -webkit-calc(50% - 24px);
    width: calc(50% - 24px);
  }

  .callback .callback-item {
    width: -webkit-calc(66.66667% - 24px);
    width: calc(66.66667% - 24px);
  }

  .debugGrid .childFlex {
    width: -webkit-calc(8.33333% - 24px);
    width: calc(8.33333% - 24px);
  }

  .footer__col {
    width: -webkit-calc(16.66667% - 24px);
    width: calc(16.66667% - 24px);
  }

  .footer__logo {
    width: -webkit-calc(33.33333% - 24px);
    width: calc(33.33333% - 24px);
  }

  .footer__social {
    width: -webkit-calc(33.33333% - 24px);
    width: calc(33.33333% - 24px);
  }

  .header__logo {
    width: -webkit-calc(33.33333% - 24px);
    width: calc(33.33333% - 24px);
  }

  .header__nav {
    width: -webkit-calc(33.33333% - 24px);
    width: calc(33.33333% - 24px);
  }

  .info-block-certificates__card {
    width: -webkit-calc(44.16667% - 24px);
    width: calc(44.16667% - 24px);
  }

  .revies .page-form {
    width: -webkit-calc(83.33333% - 24px);
    width: calc(83.33333% - 24px);
  }

  .revies .page-form .page__title {
    width: -webkit-calc(50% - 24px);
    width: calc(50% - 24px);
  }

  .revies .page-form .page-input {
    width: -webkit-calc(33.33333% - 24px);
    width: calc(33.33333% - 24px);
  }
}

@media screen and (min-width: 1760px) {
  .debugGrid .childFlex {
    width: -webkit-calc(8.33333% - 24px);
    width: calc(8.33333% - 24px);
  }
}