//-_banner
section.banner
  .banner_bg
    img(src="assets/images/png/Banner.png", alt="banner")
  .wrapper 
    .banner-inner
      .banner__title_bottom 
        h1.page__title-h1 Комплексный SPA отдых на реке
