//-_banner
section.banner
    .banner_bg
      img(src="assets/images/png/main-page/Banner.png", alt="banner")
    .banner-inner.banner-inner_center
      .wrapper 
        .banner__title_bottom 
          h1.page__title.page_regular.page__title-h1 Загородный отдых класса luxe: коттеджи с баней, яхтинг, SPA-программы
          