//-_banner
section.banner
  .banner_bg
    img(src="assets/images/png/main-page/Banner.png", alt="banner")
  .wrapper 
    .banner-inner
      .banner__title_bottom 
        h1.page__title.page_regular.page__title-h1 Загородный отдых класса luxe на воде:
        h1.page__title.page_regular.page__title-h1 Яхтинг, пляж и лаунж-зоны, банные SPA-программы, спорт и мероприятия
