extends ../../pug/templates/template
block base
	base(href="../")
block title
	title prices
block append style
block content
	main.page
		include ../../components/_banner/banner-admiral.component.pug
		include ../../components/_prices/_prices.component.pug
block append style


block append script