extends ../../pug/templates/template
block base
	base(href="../")
block title
	title ArchiveBath
block append style
block content
	main.page
		include ../../components/_banner/banner-cuisine.component.pug
		include ../../components/cuisine/cuisine.component.pug
block append style


block append script