extends ../../pug/templates/template
block base
	base(href="../")
block title
	title ArchiveBath
block append style
block content
	main.page
		include ../../components/_banner/banner-cuisine.component.pug
		include ../../components/cuisine-advantages/cuisine-advantages.component.pug
		include ../../components/cuisine-shef/cuisine-shef.component.pug
		include ../../components/cuisine-menu/cuisine-menu.component.pug
		include ../../components/cuisine-contacts/cuisine-contacts.component.pug
		include ../../components/_slider-banner/slider-banner.component2.pug
		include ../../components/revies/revies.component.pug
block append style


block append script