extends ../../pug/templates/template
block base
	base(href="../")
block title
	title impressions
block append style
block content
	main.page
		include ../../components/_banner/banner-impressions.component.pug
		include ../../components/impressions-menu/impressions-menu.component.pug
		include ../../components/_slider-banner/slider-banner.component3.pug
		include ../../components/_callback/callback-1.component.pug
		
block append style


block append script