//-impressions-menu
section.impressions-menu
  .wrapper
    h3.page__title.page_regular.page__title-h3 Виды впечатлений
    .impressions-menu-inner
      #tabs.tabs
        .tav-nav 
          .tab-link.is-active 
            .page-link Расслабляющие процедуры
          .tab-link 
            .page-link Летние развлечения
          .tab-link 
            .page-link Зимние развлечения
        .tab-content.is-active
          .images-menu-items
            a.images-menu__item(href="")
              .images-menu__item-img
                img(src="assets/images/png/impressions/img-impressions-1.png", alt="impressions")
              .images-menu__item-text 
                h4.page__title.page_regular.page__title-h4 Прокат яхт 
            a.images-menu__item(href="")
              .images-menu__item-img
                img(src="assets/images/png/impressions/img-impressions-2.png", alt="impressions")
              .images-menu__item-text 
                h4.page__title.page_regular.page__title-h4 Катание на гидроцикле
            a.images-menu__item(href="")
              .images-menu__item-img
                img(src="assets/images/png/impressions/img-impressions-3.png", alt="impressions")
              .images-menu__item-text 
                h4.page__title.page_regular.page__title-h4 Рыбалка
            a.images-menu__item(href="")
              .images-menu__item-img
                img(src="assets/images/png/impressions/img-impressions-4.png", alt="impressions")
              .images-menu__item-text 
                h4.page__title.page_regular.page__title-h4 Сапсерфинг
            a.images-menu__item(href="")
              .images-menu__item-img
                img(src="assets/images/png/impressions/img-impressions-5.png", alt="impressions")
              .images-menu__item-text 
                h4.page__title.page_regular.page__title-h4 Прокат лодок
            a.images-menu__item(href="")
              .images-menu__item-img
                img(src="assets/images/png/impressions/img-impressions-6.png", alt="impressions")
              .images-menu__item-text 
                h4.page__title.page_regular.page__title-h4 Вейкбординг
        .tab-content
          .images-menu-items
            a.images-menu__item(href="")
              .images-menu__item-img
                img(src="assets/images/png/impressions/img-impressions-2.png", alt="impressions")
              .images-menu__item-text 
                h4.page__title.page_regular.page__title-h4 Прокат яхт 
        .tab-content 
          .images-menu-items
            a.images-menu__item(href="")
              .images-menu__item-img
                img(src="assets/images/png/impressions/img-impressions-3.png", alt="impressions")
              .images-menu__item-text 
                h4.page__title.page_regular.page__title-h4 Прокат яхт 