//-social
.social
    //- a.social-link(href="") 
    //-   .svg-instagramm.svg-instagramm-box
    a.social-link(href="") 
      .svg-watsapp.svg-watsapp-box
    a.social-link(href="") 
      .svg-telegramm.svg-vk.svg-box
    a.social-link(href="") 
      .svg-telegramm.svg-telegramm-box
    //- a.social-link(href="") 
    //-   .svg-facebook.svg-facebook-box