%svg-common {
	background: url("../assets/icons/svg/spriteSVG.svg") no-repeat;
}

.svg-1 {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-1-box {
	width: 52px;
	height: 52px;
}

.svg-2 {
	@extend %svg-common;
	background-position: 10.256410256410257% 0;
}

.svg-2-box {
	width: 52px;
	height: 52px;
}

.svg-3 {
	@extend %svg-common;
	background-position: 0 10.612244897959183%;
}

.svg-3-box {
	width: 52px;
	height: 52px;
}

.svg-4 {
	@extend %svg-common;
	background-position: 10.256410256410257% 10.612244897959183%;
}

.svg-4-box {
	width: 52px;
	height: 52px;
}

.svg-Commode {
	@extend %svg-common;
	background-position: 19.41747572815534% 28.596385542168676%;
}

.svg-Commode-box {
	width: 44px;
	height: 44px;
}

.svg-barrel {
	@extend %svg-common;
	background-position: 27.961165048543688% 28.596385542168676%;
}

.svg-barrel-box {
	width: 44px;
	height: 44px;
}

.svg-basket {
	@extend %svg-common;
	background-position: 40.19417475728155% 0;
}

.svg-basket-box {
	width: 44px;
	height: 44px;
}

.svg-bath {
	@extend %svg-common;
	background-position: 40.19417475728155% 8.835341365461847%;
}

.svg-bath-box {
	width: 44px;
	height: 44px;
}

.svg-bathroom {
	@extend %svg-common;
	background-position: 40.19417475728155% 17.670682730923694%;
}

.svg-bathroom-box {
	width: 44px;
	height: 44px;
}

.svg-beauty-products {
	@extend %svg-common;
	background-position: 40.19417475728155% 26.50602409638554%;
}

.svg-beauty-products-box {
	width: 44px;
	height: 44px;
}

.svg-bed {
	@extend %svg-common;
	background-position: 0 38.636546184738954%;
}

.svg-bed-box {
	width: 44px;
	height: 44px;
}

.svg-bi_sort-up {
	@extend %svg-common;
	background-position: 8.54368932038835% 38.636546184738954%;
}

.svg-bi_sort-up-box {
	width: 44px;
	height: 44px;
}

.svg-breakfast {
	@extend %svg-common;
	background-position: 17.0873786407767% 38.636546184738954%;
}

.svg-breakfast-box {
	width: 44px;
	height: 44px;
}

.svg-breakfast-1 {
	@extend %svg-common;
	background-position: 25.631067961165048% 38.636546184738954%;
}

.svg-breakfast-1-box {
	width: 44px;
	height: 44px;
}

.svg-calendar {
	@extend %svg-common;
	background-position: 34.1747572815534% 38.636546184738954%;
}

.svg-calendar-box {
	width: 44px;
	height: 44px;
}

.svg-cash {
	@extend %svg-common;
	background-position: 48.737864077669904% 0;
}

.svg-cash-box {
	width: 44px;
	height: 44px;
}

.svg-chat-alt-2 {
	@extend %svg-common;
	background-position: 48.737864077669904% 8.835341365461847%;
}

.svg-chat-alt-2-box {
	width: 44px;
	height: 44px;
}

.svg-check {
	@extend %svg-common;
	background-position: 48.737864077669904% 17.670682730923694%;
}

.svg-check-box {
	width: 44px;
	height: 44px;
}

.svg-check-circle {
	@extend %svg-common;
	background-position: 48.737864077669904% 26.50602409638554%;
}

.svg-check-circle-box {
	width: 44px;
	height: 44px;
}

.svg-cheveron-down {
	@extend %svg-common;
	background-position: 48.737864077669904% 35.34136546184739%;
}

.svg-cheveron-down-box {
	width: 44px;
	height: 44px;
}

.svg-cheveron-left {
	@extend %svg-common;
	background-position: 0 47.471887550200805%;
}

.svg-cheveron-left-box {
	width: 44px;
	height: 44px;
}

.svg-cheveron-left-1 {
	@extend %svg-common;
	background-position: 8.54368932038835% 47.471887550200805%;
}

.svg-cheveron-left-1-box {
	width: 44px;
	height: 44px;
}

.svg-cheveron-right {
	@extend %svg-common;
	background-position: 17.0873786407767% 47.471887550200805%;
}

.svg-cheveron-right-box {
	width: 44px;
	height: 44px;
}

.svg-cheveron-up {
	@extend %svg-common;
	background-position: 25.631067961165048% 47.471887550200805%;
}

.svg-cheveron-up-box {
	width: 44px;
	height: 44px;
}

.svg-clean {
	@extend %svg-common;
	background-position: 34.1747572815534% 47.471887550200805%;
}

.svg-clean-box {
	width: 44px;
	height: 44px;
}

.svg-clock {
	@extend %svg-common;
	background-position: 42.71844660194175% 47.471887550200805%;
}

.svg-clock-box {
	width: 44px;
	height: 44px;
}

.svg-collection {
	@extend %svg-common;
	background-position: 57.28155339805825% 0;
}

.svg-collection-box {
	width: 44px;
	height: 44px;
}

.svg-cosmetic {
	@extend %svg-common;
	background-position: 57.28155339805825% 8.835341365461847%;
}

.svg-cosmetic-box {
	width: 44px;
	height: 44px;
}

.svg-credit-card {
	@extend %svg-common;
	background-position: 57.28155339805825% 17.670682730923694%;
}

.svg-credit-card-box {
	width: 44px;
	height: 44px;
}

.svg-crib {
	@extend %svg-common;
	background-position: 57.28155339805825% 26.50602409638554%;
}

.svg-crib-box {
	width: 44px;
	height: 44px;
}

.svg-deck-chair {
	@extend %svg-common;
	background-position: 57.28155339805825% 35.34136546184739%;
}

.svg-deck-chair-box {
	width: 44px;
	height: 44px;
}

.svg-delivery {
	@extend %svg-common;
	background-position: 57.28155339805825% 44.17670682730924%;
}

.svg-delivery-box {
	width: 44px;
	height: 44px;
}

.svg-dishes {
	@extend %svg-common;
	background-position: 0 56.30722891566264%;
}

.svg-dishes-box {
	width: 44px;
	height: 44px;
}

.svg-exclamation-circle {
	@extend %svg-common;
	background-position: 8.54368932038835% 56.30722891566264%;
}

.svg-exclamation-circle-box {
	width: 44px;
	height: 44px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 99.61315280464217% 79.04191616766467%;
}

.svg-facebook-box {
	width: 42px;
	height: 41px;
}

.svg-fire {
	@extend %svg-common;
	background-position: 17.0873786407767% 56.30722891566264%;
}

.svg-fire-box {
	width: 44px;
	height: 44px;
}

.svg-firewood {
	@extend %svg-common;
	background-position: 25.631067961165048% 56.30722891566264%;
}

.svg-firewood-box {
	width: 44px;
	height: 44px;
}

.svg-foot-massage {
	@extend %svg-common;
	background-position: 34.1747572815534% 56.30722891566264%;
}

.svg-foot-massage-box {
	width: 44px;
	height: 44px;
}

.svg-fruits {
	@extend %svg-common;
	background-position: 42.71844660194175% 56.30722891566264%;
}

.svg-fruits-box {
	width: 44px;
	height: 44px;
}

.svg-gift {
	@extend %svg-common;
	background-position: 51.262135922330096% 56.30722891566264%;
}

.svg-gift-box {
	width: 44px;
	height: 44px;
}

.svg-globe-alt {
	@extend %svg-common;
	background-position: 65.8252427184466% 0;
}

.svg-globe-alt-box {
	width: 44px;
	height: 44px;
}

.svg-globe-solid {
	@extend %svg-common;
	background-position: 16.184971098265898% 99.68326693227091%;
}

.svg-globe-solid-box {
	width: 40px;
	height: 40px;
}

.svg-hand {
	@extend %svg-common;
	background-position: 65.8252427184466% 8.835341365461847%;
}

.svg-hand-box {
	width: 44px;
	height: 44px;
}

.svg-heart {
	@extend %svg-common;
	background-position: 65.8252427184466% 17.670682730923694%;
}

.svg-heart-box {
	width: 44px;
	height: 44px;
}

.svg-home {
	@extend %svg-common;
	background-position: 65.8252427184466% 26.50602409638554%;
}

.svg-home-box {
	width: 44px;
	height: 44px;
}

.svg-home-solid {
	@extend %svg-common;
	background-position: 23.892100192678228% 99.68326693227091%;
}

.svg-home-solid-box {
	width: 40px;
	height: 40px;
}

.svg-home2 {
	@extend %svg-common;
	background-position: 65.8252427184466% 35.34136546184739%;
}

.svg-home2-box {
	width: 44px;
	height: 44px;
}

.svg-identification {
	@extend %svg-common;
	background-position: 65.8252427184466% 44.17670682730924%;
}

.svg-identification-box {
	width: 44px;
	height: 44px;
}

.svg-instagramm {
	@extend %svg-common;
	background-position: 99.61315280464217% 87.22554890219561%;
}

.svg-instagramm-box {
	width: 42px;
	height: 41px;
}

.svg-kitchen {
	@extend %svg-common;
	background-position: 65.8252427184466% 53.01204819277108%;
}

.svg-kitchen-box {
	width: 44px;
	height: 44px;
}

.svg-light-bulb {
	@extend %svg-common;
	background-position: 0 65.14257028112449%;
}

.svg-light-bulb-box {
	width: 44px;
	height: 44px;
}

.svg-lock-closed {
	@extend %svg-common;
	background-position: 8.54368932038835% 65.14257028112449%;
}

.svg-lock-closed-box {
	width: 44px;
	height: 44px;
}

.svg-logo {
	@extend %svg-common;
	background-position: 17.0873786407767% 65.14257028112449%;
}

.svg-logo-box {
	width: 44px;
	height: 44px;
}

.svg-logo2 {
	@extend %svg-common;
	background-position: 20.512820512820515% 0;
}

.svg-logo2-box {
	width: 52px;
	height: 33.26px;
}

.svg-mail {
	@extend %svg-common;
	background-position: 25.631067961165048% 65.14257028112449%;
}

.svg-mail-box {
	width: 44px;
	height: 44px;
}

.svg-mail-solid {
	@extend %svg-common;
	background-position: 31.59922928709056% 99.68326693227091%;
}

.svg-mail-solid-box {
	width: 40px;
	height: 40px;
}

.svg-massage {
	@extend %svg-common;
	background-position: 30.648330058939095% 7.910750507099391%;
}

.svg-massage-box {
	width: 50px;
	height: 49px;
}

.svg-massage-professional {
	@extend %svg-common;
	background-position: 34.1747572815534% 65.14257028112449%;
}

.svg-massage-professional-box {
	width: 44px;
	height: 44px;
}

.svg-minus {
	@extend %svg-common;
	background-position: 42.71844660194175% 65.14257028112449%;
}

.svg-minus-box {
	width: 44px;
	height: 44px;
}

.svg-music-note {
	@extend %svg-common;
	background-position: 51.262135922330096% 65.14257028112449%;
}

.svg-music-note-box {
	width: 44px;
	height: 44px;
}

.svg-no_meat {
	@extend %svg-common;
	background-position: 30.648330058939095% 17.88617886178862%;
}

.svg-no_meat-box {
	width: 50px;
	height: 50px;
}

.svg-noun-animals-prohibited-3847683_1 {
	@extend %svg-common;
	background-position: 59.80582524271845% 65.14257028112449%;
}

.svg-noun-animals-prohibited-3847683_1-box {
	width: 44px;
	height: 44px;
}

.svg-noun-bedroom-1 {
	@extend %svg-common;
	background-position: 74.36893203883496% 0;
}

.svg-noun-bedroom-1-box {
	width: 44px;
	height: 44px;
}

.svg-noun-fire-131591 {
	@extend %svg-common;
	background-position: 74.36893203883496% 8.835341365461847%;
}

.svg-noun-fire-131591-box {
	width: 44px;
	height: 44px;
}

.svg-noun-living-room-254087_1 {
	@extend %svg-common;
	background-position: 74.36893203883496% 17.670682730923694%;
}

.svg-noun-living-room-254087_1-box {
	width: 44px;
	height: 44px;
}

.svg-noun-no-meat-2390813 {
	@extend %svg-common;
	background-position: 74.36893203883496% 26.50602409638554%;
}

.svg-noun-no-meat-2390813-box {
	width: 44px;
	height: 44px;
}

.svg-noun-no-smoking-1322400 {
	@extend %svg-common;
	background-position: 74.36893203883496% 35.34136546184739%;
}

.svg-noun-no-smoking-1322400-box {
	width: 44px;
	height: 44px;
}

.svg-noun-sauna-1 {
	@extend %svg-common;
	background-position: 74.36893203883496% 44.17670682730924%;
}

.svg-noun-sauna-1-box {
	width: 44px;
	height: 44px;
}

.svg-noun-sauna-2 {
	@extend %svg-common;
	background-position: 74.36893203883496% 53.01204819277108%;
}

.svg-noun-sauna-2-box {
	width: 44px;
	height: 44px;
}

.svg-noun-vegan-3029210_1 {
	@extend %svg-common;
	background-position: 74.36893203883496% 61.84738955823293%;
}

.svg-noun-vegan-3029210_1-box {
	width: 44px;
	height: 44px;
}

.svg-noun-virus-1182496 {
	@extend %svg-common;
	background-position: 0 73.97791164658635%;
}

.svg-noun-virus-1182496-box {
	width: 44px;
	height: 44px;
}

.svg-noun_Bath_1300224 {
	@extend %svg-common;
	background-position: 8.54368932038835% 73.97791164658635%;
}

.svg-noun_Bath_1300224-box {
	width: 44px;
	height: 44px;
}

.svg-noun_Bath_2585529 {
	@extend %svg-common;
	background-position: 17.0873786407767% 73.97791164658635%;
}

.svg-noun_Bath_2585529-box {
	width: 44px;
	height: 44px;
}

.svg-noun_Bath_2585610 {
	@extend %svg-common;
	background-position: 25.631067961165048% 73.97791164658635%;
}

.svg-noun_Bath_2585610-box {
	width: 44px;
	height: 44px;
}

.svg-noun_Candle_2585535_1 {
	@extend %svg-common;
	background-position: 34.1747572815534% 73.97791164658635%;
}

.svg-noun_Candle_2585535_1-box {
	width: 44px;
	height: 44px;
}

.svg-noun_Cream_2585659 {
	@extend %svg-common;
	background-position: 42.71844660194175% 73.97791164658635%;
}

.svg-noun_Cream_2585659-box {
	width: 44px;
	height: 44px;
}

.svg-noun_Dryer_1300217 {
	@extend %svg-common;
	background-position: 51.262135922330096% 73.97791164658635%;
}

.svg-noun_Dryer_1300217-box {
	width: 44px;
	height: 44px;
}

.svg-noun_Hot_2585540 {
	@extend %svg-common;
	background-position: 59.80582524271845% 73.97791164658635%;
}

.svg-noun_Hot_2585540-box {
	width: 44px;
	height: 44px;
}

.svg-noun_House_Slippers_ {
	@extend %svg-common;
	background-position: 68.3495145631068% 73.97791164658635%;
}

.svg-noun_House_Slippers_-box {
	width: 44px;
	height: 44px;
}

.svg-noun_Ironing_ {
	@extend %svg-common;
	background-position: 82.9126213592233% 0;
}

.svg-noun_Ironing_-box {
	width: 44px;
	height: 44px;
}

.svg-noun_Tea_2585701 {
	@extend %svg-common;
	background-position: 82.9126213592233% 8.835341365461847%;
}

.svg-noun_Tea_2585701-box {
	width: 44px;
	height: 44px;
}

.svg-noun_back_2585554 {
	@extend %svg-common;
	background-position: 82.9126213592233% 17.670682730923694%;
}

.svg-noun_back_2585554-box {
	width: 44px;
	height: 44px;
}

.svg-noun_beauty_2585549 {
	@extend %svg-common;
	background-position: 82.9126213592233% 26.50602409638554%;
}

.svg-noun_beauty_2585549-box {
	width: 44px;
	height: 44px;
}

.svg-noun_beauty_2585570 {
	@extend %svg-common;
	background-position: 82.9126213592233% 35.34136546184739%;
}

.svg-noun_beauty_2585570-box {
	width: 44px;
	height: 44px;
}

.svg-noun_care_2585588 {
	@extend %svg-common;
	background-position: 82.9126213592233% 44.17670682730924%;
}

.svg-noun_care_2585588-box {
	width: 44px;
	height: 44px;
}

.svg-noun_herb_2585682 {
	@extend %svg-common;
	background-position: 82.9126213592233% 53.01204819277108%;
}

.svg-noun_herb_2585682-box {
	width: 44px;
	height: 44px;
}

.svg-noun_massage_2585542 {
	@extend %svg-common;
	background-position: 82.9126213592233% 61.84738955823293%;
}

.svg-noun_massage_2585542-box {
	width: 44px;
	height: 44px;
}

.svg-noun_spa_2528450 {
	@extend %svg-common;
	background-position: 82.9126213592233% 70.68273092369478%;
}

.svg-noun_spa_2528450-box {
	width: 44px;
	height: 44px;
}

.svg-noun_spa_2585736 {
	@extend %svg-common;
	background-position: 0 82.8132530120482%;
}

.svg-noun_spa_2585736-box {
	width: 44px;
	height: 44px;
}

.svg-noun_spa_3914978 {
	@extend %svg-common;
	background-position: 8.54368932038835% 82.8132530120482%;
}

.svg-noun_spa_3914978-box {
	width: 44px;
	height: 44px;
}

.svg-noun_teacup {
	@extend %svg-common;
	background-position: 17.0873786407767% 82.8132530120482%;
}

.svg-noun_teacup-box {
	width: 44px;
	height: 44px;
}

.svg-order {
	@extend %svg-common;
	background-position: 25.631067961165048% 82.8132530120482%;
}

.svg-order-box {
	width: 44px;
	height: 44px;
}

.svg-oven {
	@extend %svg-common;
	background-position: 34.1747572815534% 82.8132530120482%;
}

.svg-oven-box {
	width: 44px;
	height: 44px;
}

.svg-parking {
	@extend %svg-common;
	background-position: 42.71844660194175% 82.8132530120482%;
}

.svg-parking-box {
	width: 44px;
	height: 44px;
}

.svg-payment {
	@extend %svg-common;
	background-position: 51.262135922330096% 82.8132530120482%;
}

.svg-payment-box {
	width: 44px;
	height: 44px;
}

.svg-paypal {
	@extend %svg-common;
	background-position: 20.512820512820515% 6.4681744812430715%;
}

.svg-paypal-box {
	width: 52px;
	height: 27.79px;
}

.svg-pencil {
	@extend %svg-common;
	background-position: 59.80582524271845% 82.8132530120482%;
}

.svg-pencil-box {
	width: 44px;
	height: 44px;
}

.svg-pencil-alt {
	@extend %svg-common;
	background-position: 68.3495145631068% 82.8132530120482%;
}

.svg-pencil-alt-box {
	width: 44px;
	height: 44px;
}

.svg-phone {
	@extend %svg-common;
	background-position: 76.89320388349515% 82.8132530120482%;
}

.svg-phone-box {
	width: 44px;
	height: 44px;
}

.svg-phone-solid {
	@extend %svg-common;
	background-position: 39.30635838150289% 99.68326693227091%;
}

.svg-phone-solid-box {
	width: 40px;
	height: 40px;
}

.svg-photograph {
	@extend %svg-common;
	background-position: 91.45631067961165% 0;
}

.svg-photograph-box {
	width: 44px;
	height: 44px;
}

.svg-plus {
	@extend %svg-common;
	background-position: 91.45631067961165% 8.835341365461847%;
}

.svg-plus-box {
	width: 44px;
	height: 44px;
}

.svg-question-mark-circle {
	@extend %svg-common;
	background-position: 91.45631067961165% 17.670682730923694%;
}

.svg-question-mark-circle-box {
	width: 44px;
	height: 44px;
}

.svg-receipt-tax {
	@extend %svg-common;
	background-position: 91.45631067961165% 26.50602409638554%;
}

.svg-receipt-tax-box {
	width: 44px;
	height: 44px;
}

.svg-river {
	@extend %svg-common;
	background-position: 91.45631067961165% 35.34136546184739%;
}

.svg-river-box {
	width: 44px;
	height: 44px;
}

.svg-robokassa {
	@extend %svg-common;
	background-position: 20.512820512820515% 11.785714285714286%;
}

.svg-robokassa-box {
	width: 52px;
	height: 24px;
}

.svg-rss {
	@extend %svg-common;
	background-position: 91.45631067961165% 44.17670682730924%;
}

.svg-rss-box {
	width: 44px;
	height: 44px;
}

.svg-sauna {
	@extend %svg-common;
	background-position: 91.45631067961165% 53.01204819277108%;
}

.svg-sauna-box {
	width: 44px;
	height: 44px;
}

.svg-search {
	@extend %svg-common;
	background-position: 91.45631067961165% 61.84738955823293%;
}

.svg-search-box {
	width: 44px;
	height: 44px;
}

.svg-shopping-bag {
	@extend %svg-common;
	background-position: 91.45631067961165% 70.68273092369478%;
}

.svg-shopping-bag-box {
	width: 44px;
	height: 44px;
}

.svg-shower {
	@extend %svg-common;
	background-position: 91.45631067961165% 79.51807228915662%;
}

.svg-shower-box {
	width: 44px;
	height: 44px;
}

.svg-smart-tv {
	@extend %svg-common;
	background-position: 0 91.64859437751004%;
}

.svg-smart-tv-box {
	width: 44px;
	height: 44px;
}

.svg-sofa {
	@extend %svg-common;
	background-position: 8.54368932038835% 91.64859437751004%;
}

.svg-sofa-box {
	width: 44px;
	height: 44px;
}

.svg-star {
	@extend %svg-common;
	background-position: 47.01348747591522% 99.68326693227091%;
}

.svg-star-box {
	width: 40px;
	height: 40px;
}

.svg-support {
	@extend %svg-common;
	background-position: 17.0873786407767% 91.64859437751004%;
}

.svg-support-box {
	width: 44px;
	height: 44px;
}

.svg-swings {
	@extend %svg-common;
	background-position: 25.631067961165048% 91.64859437751004%;
}

.svg-swings-box {
	width: 44px;
	height: 44px;
}

.svg-table {
	@extend %svg-common;
	background-position: 34.1747572815534% 91.64859437751004%;
}

.svg-table-box {
	width: 44px;
	height: 44px;
}

.svg-table1 {
	@extend %svg-common;
	background-position: 42.71844660194175% 91.64859437751004%;
}

.svg-table1-box {
	width: 44px;
	height: 44px;
}

.svg-tea {
	@extend %svg-common;
	background-position: 51.262135922330096% 91.64859437751004%;
}

.svg-tea-box {
	width: 44px;
	height: 44px;
}

.svg-telegramm {
	@extend %svg-common;
	background-position: 0 99.88223552894212%;
}

.svg-telegramm-box {
	width: 42px;
	height: 41px;
}

.svg-thumb-up {
	@extend %svg-common;
	background-position: 59.80582524271845% 91.64859437751004%;
}

.svg-thumb-up-box {
	width: 44px;
	height: 44px;
}

.svg-towel {
	@extend %svg-common;
	background-position: 68.3495145631068% 91.64859437751004%;
}

.svg-towel-box {
	width: 44px;
	height: 44px;
}

.svg-translate {
	@extend %svg-common;
	background-position: 76.89320388349515% 91.64859437751004%;
}

.svg-translate-box {
	width: 44px;
	height: 44px;
}

.svg-tv {
	@extend %svg-common;
	background-position: 85.4368932038835% 91.64859437751004%;
}

.svg-tv-box {
	width: 44px;
	height: 44px;
}

.svg-upload {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-upload-box {
	width: 44px;
	height: 44px;
}

.svg-user {
	@extend %svg-common;
	background-position: 54.72061657032755% 99.68326693227091%;
}

.svg-user-box {
	width: 40px;
	height: 40px;
}

.svg-user-circle {
	@extend %svg-common;
	background-position: 100% 8.835341365461847%;
}

.svg-user-circle-box {
	width: 44px;
	height: 44px;
}

.svg-user-circle-solid {
	@extend %svg-common;
	background-position: 62.42774566473989% 99.68326693227091%;
}

.svg-user-circle-solid-box {
	width: 40px;
	height: 40px;
}

.svg-user-group {
	@extend %svg-common;
	background-position: 100% 17.670682730923694%;
}

.svg-user-group-box {
	width: 44px;
	height: 44px;
}

.svg-users {
	@extend %svg-common;
	background-position: 100% 26.50602409638554%;
}

.svg-users-box {
	width: 44px;
	height: 44px;
}

.svg-veggi {
	@extend %svg-common;
	background-position: 0 28.945121951219512%;
}

.svg-veggi-box {
	width: 50px;
	height: 50px;
}

.svg-veggi-1 {
	@extend %svg-common;
	background-position: 9.82318271119843% 28.945121951219512%;
}

.svg-veggi-1-box {
	width: 50px;
	height: 50px;
}

.svg-verified_visa {
	@extend %svg-common;
	background-position: 0 20.65172064576342%;
}

.svg-verified_visa-box {
	width: 52px;
	height: 38.41px;
}

.svg-video-camera {
	@extend %svg-common;
	background-position: 100% 35.34136546184739%;
}

.svg-video-camera-box {
	width: 44px;
	height: 44px;
}

.svg-view-list {
	@extend %svg-common;
	background-position: 100% 44.17670682730924%;
}

.svg-view-list-box {
	width: 44px;
	height: 44px;
}

.svg-vk {
	@extend %svg-common;
	background-position: 30.708661417322833% 0;
}

.svg-vk-box {
	width: 51px;
	height: 39px;
}

.svg-watsapp {
	@extend %svg-common;
	background-position: 8.123791102514506% 99.88223552894212%;
}

.svg-watsapp-box {
	width: 42px;
	height: 41px;
}

.svg-whatsapp {
	@extend %svg-common;
	background-position: 100% 53.01204819277108%;
}

.svg-whatsapp-box {
	width: 44px;
	height: 44px;
}

.svg-x {
	@extend %svg-common;
	background-position: 100% 61.84738955823293%;
}

.svg-x-box {
	width: 44px;
	height: 44px;
}

.svg-yacht {
	@extend %svg-common;
	background-position: 100% 70.68273092369478%;
}

.svg-yacht-box {
	width: 44px;
	height: 44px;
}

