//-certificates
section.certificates
  .wrapper
    .certificates__step.certificates__step-1
      h3.page__title.page__title-h3.page_regular Выберите тип сертификата
      .certificates-inner
        .certificates-item
          h5.page__title-h5.page__title.page_regular Сертификат на сумму
          p.page__text Вы указываете определенный денежный эквивалент, на сумму которого реципиент может воспользоваться любыми услугами нашего комплекса по собственному усмотрению.
          
        .certificates-item
          h5.page__title-h5.page__title.page_regular Сертификат на программу
          p.page__text Вы выбираете одну из предложенных нашим комплексом разработанных программ, которая отвечает критериям пола, возраста, предпочтениям реципиента, а также требованиям бюджета.
          a.page-link(href="") Выбрать программу
        .certificates-item
          h5.page__title-h5.page__title.page_regular Индивидуальный Сертификат
          p.page__text Опытные операторы комплекса по вашему желанию помогут вам составить индивидуальную программу, отвечающую только вашим индивидуальным предпочтениям. Для этого позвоните по телефону +7 (495) 222-02-23и обсудите это с оператором.

    .certificates__step.certificates__step-2 
      h3.page__title.page__title-h3.page_regular  Выберите вид сертификата
      .certificates-form
        .certificates-form__field
          label(for="") 
            h5.page__title-h5.page__title.page_regular  Электронный сертификат
            p Позволяет сделать подарок, не выходя из дома.
        .certificates-form__field
          label(for="") 
            h5.page__title-h5.page__title.page_regular Физический сертификат
            p Вы можете оформить сертификат с доставкой или забрать самостоятельно.
        .certificates-form__field
          label(for="") 
            h5.page__title-h5.page__title.page_regular Комментарий
            textarea
        .certificates-form__field
          a.page-btn(href="") Заказать
        

    .certificates__step.certificates__step-2 