/*footer*/
.footer
  background: $braun-50
  padding: 80px 0 40px
  &-inner
    +row-flex
  &__nav
    .footer__col
      margin-bottom: 20px

    .page__title
      color: $blue-500
      margin-bottom: 10px
      +md-block
        margin-bottom: 32px
    .page-link
      display: flex
      margin-bottom: 16px
      font-size: 14px
      line-height: 150%

    .page-fl-aic
      margin-bottom: 16px
      color: $braun-900
      font-size: 14px
      line-height: 150%
      .page-link
        margin: 0

  &__col
    +col
    +size(6)
    +size-sm(3)
    +size-md(2)
    &.footer__contacts
      +size(12) 
      +size-sm(3)
      +size-md(3)
      .page-fl-aic
        p
          width: 100%
          font-family: Roboto-Regular


  &__bottom
    display: flex
    
    align-items: center
    justify-content: flex-start
    
    width: 100% !important
    +md-block
      margin-top: -60px
      margin-bottom: -25px
    .footer-inner

  &__logo
    +col
    +size(8)
    +size-md(8)
    display: flex
    align-items: flex-end
    img
      max-width: 153px
      max-height: 100px
    

  &__copy
    color: $braun-900
    margin-left: 16px
  &__social
    +col
    display: flex
    justify-content: flex-end
    flex-direction: column
    +sm-block
      flex-direction: row
