//-footer
section.footer
  .footer__nav
    .wrapper
      .footer-inner
        .footer__col
          .page__title.page_regular.page__title-h4 Коттеджи
          +links([
            {
              href:"/",
              title:"О коттеджах",
            },
            {
              href:"/",
              title:"Цены",
            },
            {
              href:"/",
              title:"Забронировать",
            },
            {
              href:"/",
              title:"Клубная карта",
            },
          ])
        .footer__col
          .page__title.page_regular.page__title-h4 Программы
          +links([
            {
              href:"/",
              title:"О программах",
            },
            {
              href:"/",
              title:"SPA VIP PLUS",
            },
            {
              href:"/",
              title:"Банная забава",
            },
            {
              href:"/",
              title:"Адмирал",
            },
          ])
        .footer__col
          .page__title.page_regular.page__title-h4 Кухня
          +links([
            {
              href:"/",
              title:"О ресторане",
            },
            {
              href:"/",
              title:"Меню",
            },
            {
              href:"/",
              title:"Полный панисион",
            },
            {
              href:"/",
              title:"Винная карта",
            },
          ])
        .footer__col
          .page__title.page_regular.page__title-h4 Впечатления
          +links([
            {
              href:"/",
              title:"Расслабляющие процедуры",
            },
            {
              href:"/",
              title:"Летние впечатления",
            },
            {
              href:"/",
              title:"Зимние впечатления",
            },
          ])
        .footer__col
          .page__title.page_regular.page__title-h4 Документы
          +links([
            {
              href:"/",
              title:"Реквизиты",
            },
            {
              href:"/",
              title:"Политика конфиденциальности",
            },
            {
              href:"/",
              title:"Публичная оферта",
            },
            {
              href:"/",
              title:"Правила аренды",
            },
            {
              href:"/",
              title:"Способы оплаты",
            },
            {
              href:"/",
              title:"Правила безопасности",
            },
          ])
        .footer__col.footer__contacts
          .page__title.page_regular.page__title-h4 Контакты
          .page-fl-aic
            .svg-phone.svg-phone-box
            +link({
              href: "tel:+7 (495) 222-02-23",
              title: "+7 (495) 222-02-23"
            })
          .page-fl-aic
            .svg-mail-solid.svg-mail-solid-box
            +link({
              href: "mailto:event@club-admiral.com",
              title: "event@club-admiral.com"
            })
          .page-fl-aic
            | Россия, Московская обл., Мытищинский р-н., Виноградовский СО, д. Грибки,
          .page-fl-aic
            | ул. Адмиральская, вл. 1, стр.1

  .footer__bottom
    .wrapper
      .footer-inner
        .footer__logo
          a(href="/")
            img(src="assets/images/svg/logo.svg", alt="logo") 
          .footer__copy © 2022 Jura Software 
        .footer__social
          include ../select-city/select-city.component.pug
          include ../social/social.component.pug
