//-info-block-cards
section.info-block-cards
  .wrapper
    .info-block-cards-inner
      .info-block-cards__text
        h3.page__title.page__title-h3.page_regular Все привилегии в одной карте
        p.page__text.page_regular Вступайте в наше сообщество истинных ценителей банного отдыха и получайте дополнительные привелегии
        +link-arrow({
          href:"",
          title:"Узнать все привилегии клуба",
        })
      .info-block-cards__img
        img(src="assets/images/png/main-page/info-block-cards.png", alt="info-block-cards")