//-cuisine-shef
//-shef
section.cuisine-shef
  .wrapper
    .cuisine-shef-inner
      .cuisine-shef-item
        img(src="assets/images/png/cuisine/img-shef.png", alt="shef")
      .cuisine-shef-item.cuisine-shef-item__text
        h3.page__title.page_regular.page__title-h3.page_braun Шеф
        h3.page__title.page_regular.page__title-h3 Величев Николай
        p.page__text.page_regular Признанный мастер в мире кулинарии. Создавал, открывал и консультировал гастрономические заведения по всему миру. Всю свою жизнь посвятил изучению тонкостей этого искусства: опыт работы в сфере более 20 лет.
        p.page__text Специалист по приготовлению дикого мяса. В совершенстве владеет навыками приготовления всевозможных настоек, в том числе и медовухи и хреновухи.
        img(src="assets/images/svg/img-shef-rospis.svg", alt="shef")
      .cuisine-shef-item
        img(src="assets/images/png/cuisine/img-shef-2.png", alt="shef")