include ./modal.mixin.pug

+modal("modalCallback")
   h2.page__title.page__title-h2.page_regular Форма обратной связи
   p.page__text Оставьте свои контакты, и администратор яхт-клуба свяжется с Вами в ближайшее время
   form.page-form
      input.page-input(type="tel" placeholder="Имя")
      input.page-input(type="tel" placeholder="Телефон")
      button.page__btn.page_broun-outline Забронировать проживание
      