//-order-form
section.order-form
  .wrapper
    .order-form-inner
      .order-form-container
        .order-form-container__price 
          .price 
            .page__title-h3.page__title.page_regular 6 000 ₽ / 
              span сутки

        .order-form-container__btn
          a.page-btn(href="") Забронировать 

