extends ../../pug/templates/template
block base
	base(href="../")
block title
	title Archive
block append style
block content
	main.page
		include ../../components/_banner/banner-admiral.component.pug
		include ../../components/_article-cards/article-cards.component.pug
block append style


block append script