/*_banner*/
$heightBanner: calc(100vh - 100px)
.banner
  position: relative
  height: $heightBanner
  max-height: $heightBanner
  padding-bottom: 140px
  .wrapper
    height: inherit
  .page__title-h1
    color: $color_white
  .page__text
      color: #fff
      font-family: Philosopher-Regular
      padding-left: 5%
  &_bg
    position: absolute
    width: 100%
    top: 0
    display: flex
    &-shadow
      position: absolute
      height: 100%
      top: 0
      z-index: 10
      width: 100%
      background: rgba(0,0,0, 0.3)
    img
      width: 100%
      height: $heightBanner
      object-fit: cover
  &__title
    &_left
      +size(5.5)
      .page__title-h1
        color: $color_white
        margin-bottom: 24px

  &-inner
    box-sizing: border-box
    padding: 70px 0
    height: 100%
    display: flex
    align-items: flex-end
    position: relative
    z-index: 20
    text-align: center
    justify-content: center

    &_center
      align-items: center
      justify-content: flex-start
      text-align: left
  &-bath

/*info-block*/
.info-block
  .page__title,
  .page__text
    +shift-left(1)
    +size(6)
    +size-md(6)
  .page__title
    color: $blue-500
    margin-bottom: 16px
  .page__text
    margin-bottom: 24px
  &__img 
    position: relative
  &__link-show-more
    position: absolute
    right: 0
    bottom: 0
    z-index: 10
    .page-link
      color: #fff
/*info-block-cards*/
.info-block-cards
  padding: 100px
  .page__title
    color: $blue-500

  &-inner
    +row-flex
    align-items: center
    justify-content: center
  &__text
    +col
    +size(12)
    +size-md(5.5)
    display: flex
    flex-direction: column
    padding-left: 40px
    
    .page__title
      margin-bottom: 16px

    .page__text
      padding-left: 20px
      font-size: 18px
      line-height: 150%
      margin-bottom: 16px

    .page-link
      align-self: flex-end
      color: $blue-500
  &__img
    +col
    +size(12)
    +size-md(5.5)

/*slider-banner*/
.slider-banner
  padding: 10px 0
  &-slide
    position: relative
    &__text
      position: absolute
      width: 100%
      z-index: 50
    &-text
      margin-top: 100px
      +size-md(6)
      +shift-left(1)
      .page__title
        color: $blue-500
    &__img
      position: relative
      display: flex
      &_bg
        position: absolute
        height: 100%
        top: 0
        z-index: 10
        width: 100%
        background: rgba(0,0,0, 0.3)
      img
        width: 100%

  &__toggles
    position: relative
    z-index: 50
    bottom: 24px
    .swiper-button-next

      right: 42%
      top: -15px
    .swiper-button-prev
      left: 42%
      top: -15px

  &__link-show-more
    position: absolute
    right: 0
    bottom: 0
    z-index: 10
    .page-link
      color: #fff

.slider-banner

/*bath-items*/
.bath-items
  &-inner
    +row-flex

  .page__title
    color: $blue-500
    margin-bottom: 20px
.bath-item
  +col
  +size(12)
  margin-bottom: 20px
  &__img
    width: 50%
    img
      display: flex
      height: 100%
      // object-fit: contain
      object-fit: cover
  &__text
    padding: 48px
    width: 50%
    &-order
      display: flex
      flex-wrap: wrap
      .price
        width: 50%
      .page__title-h3
        font-size: 18px
        span
          font-size: 14px
          line-height: 150%
          color: #8D6141
    ul
      li
        display: flex
        align-items: center
        
        margin-bottom: 15px
        .page__text
          font-size: 16px
        img
          margin-right: 10px
  &-container
    display: flex
    text-decoration: none

    background: #FFFFFF

    border: 1px solid #F5F0EB

    box-shadow: 0px 0px 15px rgba(1, 39, 104, 0.1)
    border-radius: 10px

.page-btn_outline
  background: #FFFFFF

  display: flex
  width: 150px
  padding: 12px 24px
  border: 1px solid #A87E5C
  border-radius: 6px

  flex: none
  order: 1
  font-weight: 400
  font-size: 14px
  line-height: 150%

  display: flex
  align-items: center
  justify-content: center
  text-align: center

  color: #8D6141

/*callback*/
.callback
  padding: 60px 0

  &-inner
    +row-flex
    justify-content: center

  .callback-item
    +col
    +size(8)
    +size-md(8)
    margin: 0 auto
    padding: 64px 64px 32px 80px
    box-sizing: border-box
    text-align: center
    background: $braun-50
    border: 1px solid $braun-50
    box-shadow: 0px 0px 20px 10px rgba(1, 39, 104, 0.05)
    &__text
    &__name
      text-align: right
/*cuisine*/
/* __debugGrid__ */
.debugGrid
    height: 100vh
    position: fixed
    width: 100%
    
    .wrapper
        height: inherit
        
    .parentFlex
        height: inherit
        +row-flex()
            
    .childFlex
        +col()
        +size(1)
        +size-md(1)
        +size-lg(1)
        height: inherit
        outline:  1px solid #ff0
        background: rgba(0, 0, 0, 0.4)
    @include debugBtn()
/* __debugGrid__ */
/*footer*/
.footer
  background: $braun-50
  padding: 80px 0 40px
  &-inner
    +row-flex
  &__nav
    .page__title
      color: $blue-500
      margin-bottom: 32px
    .page-link
      display: flex
      margin-bottom: 16px
    
    .page-fl-aic
      margin-bottom: 16px
      color: $braun-900
      .page-link
        margin: 0
  &__col
    +col
    +size(6)
    +size-sm(3)
    +size-md(2)
  &__contacts
    +size(12)

  
  &__bottom
    padding-top: 40px
    border-top: 1px solid $braun-100

    .footer-inner
      align-items: flex-end
      justify-content: space-between

  &__logo
    +col
    +size(12)
    +size-md(4)
    display: flex
    align-items: flex-end
  &__copy
    color: $braun-900
    margin-left: 16px
  &__social
    +col
    +size(12)
    +size-md(4)
    display: flex
    justify-content: flex-end
.header
    padding: 16px 0
    background-color: $color_white
    position: sticky
    top: 0
    z-index: 100
    &-inner
        +row-flex
        align-items: center
        // justify-content: space-between
    &__logo
        +col
        +size(4)
        +size-sm(4)
        +size-md(4)
        img
            width: 152px
            height: 63px
            object-fit: cover
    &__nav
        +col
        +size(4)
        +size-sm(4)
        +size-md(4)
        .page-link
            +col

    &__phone
    &__menu
        .menu-btn
            /* Auto layout */
            display: flex
            justify-content: center
            align-items: center
            padding: 8px
            gap: 8px
            margin-left: 10px
            width: 62px
            height: 30px

            /* braun/900 */
            border: 1px solid $braun-900
            border-radius: 50px

/*info-block-certificates*/
.info-block-certificates
  padding: 60px 0
  &-inner
    +row-flex
    justify-content: center
  &__card
    +col
    +size(12)
    +size-md(5.3)
    &:nth-child(2)
      
      .info-block-certificates-card
        margin-top: 60px
  &-card
    background: $braun-50
    box-shadow: 0px 0px 20px 10px rgba(1, 39, 104, 0.05)
    border-radius: 20px
    padding: 32px
    box-sizing: border-box
    display: flex
    flex-direction: column
    .page__title
      margin-bottom: 25px
      font-size: 26px
      line-height: 150%
      padding-right: 26px
    .page__text
      padding-left: 24px
      margin-bottom: 50px
    .page-link
      color: $blue-500
      font-size: 16px
      align-self: flex-end
    
/*revies*/
.revies
  padding: 60px 0

  &-inner
    +row-flex
    justify-content: center

  .page-form
    +col
    +size(10)
    +size-md(10)
    padding: 64px
    box-sizing: border-box
    text-align: center
    background: $braun-50
    border: 1px solid $braun-50
    box-shadow: 0px 0px 20px 10px rgba(1, 39, 104, 0.05)
    .page__title
      color: $blue-500
      +size-md(6)
      margin: 0 auto 32px

    .page-input
      +size-md(4)
      margin: 0 auto 32px
/*select-city*/
.select-city
  display: flex
  align-items: center
  margin-right: 16px
  .page__text
    font-size: 14px
    line-height: 150%
/*single-bath-page*/
.single-bath-page
  &-inner
    .page__title
      color: $blue-500
      margin-bottom: 20px
    +row-flex
  &-img
    display: flex
  &__img
    display: flex
    +size(12)
    +size-md(6)
    img
      padding: 12px
      box-sizing: border-box
    &-4
      display: flex
      flex-wrap: wrap
      +size-md(6)
      img
        +size-md(6)
        padding: 12px
        box-sizing: border-box
  &-advantages
    padding: 24px 0
    .page__title-h3
      margin-bottom: 24px
    &__lists
      +row-flex
   
  &-description
    width: 100%
    padding-bottom: 100px 
    margin-bottom: 45px
    border-bottom: 1px dashed #E5D8CE

    .page__text
      +size-md(10)
      font-family: Philosopher-Regular
  &-more-order
    &__items
      +row-flex
      justify-content: center

    &__item
      +col
      +size(6)
      background: #FFFFFF

      border: 1px solid #F5F0EB

      box-shadow: 0px 0px 15px rgba(1, 39, 104, 0.1)
      border-radius: 20px
      padding: 32px
      .page__title
        color: #A87E5C
        margin-bottom: 16px
      .page__text
        color: #A87E5C
        font-size: 14px
        margin-bottom: 24px
      &-img
        margin-bottom: 24px
      &-link
        
        .page-link
          justify-content: flex-end
          color: $blue-500
  &-information
    .page-ul
      > li
        +size(4)


.page-ul
      +col
      display: flex

      > li
        flex-direction: column
        align-items: flex-start
       
        color: #8D6141
        font-size: 16px
        font-weight: bold
        img
          width: 55px
          height: 55px
      ul
          padding-top: 20px
          padding-left: 4px
          li
            font-weight: normal
            display: flex
            align-items: center

            margin-bottom: 15px
            .page__text
              font-size: 16px
/*social*/
.social
  display: flex
  &-link
    // margin: 0 8px
/*ui*/

/*btn*/
/*btns*/
/*checkbox*/
/*datapicker*/
/*forms*/
/*input*/
/*link*/
.page-link
  // color: inheirt
  text-transform: none
  text-decoration: none
  /* 16/reg, 19 */
  font-family: Roboto-Regular
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 150%

  color: $braun-900

  &:hover
    text-decoration: underline
    
  &:disabled
    opacity: 0.5

  &_arrow
    display: flex
    align-items: center
/*modals*/
/*radio*/
/*search*/
/*select*/

*:root
  --star-size: 60px
  --star-color: #fff
  --star-background: #fc0

.stars
  --percent: calc(var(--rating) / 5 * 100%)

  display: inline-block
  font-size: var(--star-size)
  font-family: Times
  line-height: 1

  &::before
    content: '★★★★★'
    letter-spacing: 3px
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent))
