/*_banner*/
$heightBanner: calc(100vh - 100px)
.banner
  position: relative
  height: $heightBanner
  max-height: $heightBanner
  padding-bottom: 140px 
  .wrapper
    height: inherit 
  &_bg
    position: absolute
    width: 100%
    top: 0
    img
      width: 100%
      height: $heightBanner
      object-fit: cover
  .page__title-h1
    color: $color_white
    
  &-inner
    box-sizing: border-box
    padding: 70px 0
    height: 100%
    display: flex
    align-items: flex-end
    position: relative
    z-index: 2
    text-align: center
    justify-content: center
/*info-block*/
.info-block
  .page__title,
  .page__text
    +shift-left(1)
    +size(6)
    +size-md(6)
  .page__title
    color: $blue-500
    margin-bottom: 16px
  .page__text
    margin-bottom: 24px
  &__img 
    position: relative
  &__link-show-more
    position: absolute
    right: 0
    bottom: 0
    z-index: 10
    .page-link
      color: #fff
/*info-block-cards*/
.info-block-cards
  padding: 100px
  .page__title
    color: $blue-500

  &-inner
    +row-flex
    align-items: center
    justify-content: center
  &__text
    +col
    +size(12)
    +size-md(5.5)
    display: flex
    flex-direction: column
    padding-left: 40px
    
    .page__title
      margin-bottom: 16px

    .page__text
      padding-left: 20px
      font-size: 18px
      line-height: 150%
      margin-bottom: 16px

    .page-link
      align-self: flex-end
      color: $blue-500
  &__img
    +col
    +size(12)
    +size-md(5.5)

/*slider-banner*/
.slider-banner
  padding: 10px 0
  &-slide
    position: relative
    &__text
      position: absolute
      width: 100%
      z-index: 50
    &-text
      margin-top: 100px
      +size-md(6)
      +shift-left(1)
      .page__title
        color: $blue-500
    &__img
      position: relative
      display: flex
      &_bg
        position: absolute
        height: 100%
        top: 0
        z-index: 10
        width: 100%
        background: rgba(0,0,0, 0.3)
      img
        width: 100%

  &__toggles
    position: relative
    z-index: 50
    bottom: 24px
    .swiper-button-next

      right: 42%
      top: -15px
    .swiper-button-prev
      left: 42%
      top: -15px

  &__link-show-more
    position: absolute
    right: 0
    bottom: 0
    z-index: 10
    .page-link
      color: #fff

.slider-banner

/*callback*/
.callback
  padding: 60px 0
/* __debugGrid__ */
.debugGrid
    height: 100vh
    position: fixed
    width: 100%
    
    .wrapper
        height: inherit
        
    .parentFlex
        height: inherit
        +row-flex()
            
    .childFlex
        +col()
        +size(1)
        +size-md(1)
        +size-lg(1)
        height: inherit
        outline:  1px solid #ff0
        background: rgba(0, 0, 0, 0.4)
    @include debugBtn()
/* __debugGrid__ */
/*footer*/
.footer
  background: $braun-50
  padding: 80px 0 40px
  &-inner
    +row-flex
  &__nav
    .page__title
      color: $blue-500
      margin-bottom: 32px
    .page-link
      display: flex
      margin-bottom: 16px
    
    .page-fl-aic
      margin-bottom: 16px
      color: $braun-900
      .page-link
        margin: 0
  &__col
    +col
    +size(6)
    +size-sm(3)
    +size-md(2)
  &__contacts
    +size(12)

  
  &__bottom
    padding-top: 40px
    border-top: 1px solid $braun-100
.header
    padding: 16px 0
    background-color: $color_white
    position: sticky
    top: 0
    z-index: 100
    &-inner
        +row-flex
        align-items: center
        // justify-content: space-between
    &__logo
        +col
        +size(4)
        +size-sm(4)
        +size-md(4)
    &__nav
        +col
        +size(4)
        +size-sm(4)
        +size-md(4)
        .page-link
            +col

    &__phone
    &__menu
        .menu-btn
            /* Auto layout */
            display: flex
            flex-direction: row
            align-items: center
            padding: 8px
            gap: 8px

            width: 72px
            height: 40px

            /* braun/900 */
            border: 1px solid $braun-900
            border-radius: 50px

/*info-block-certificates*/
.info-block-certificates
  padding: 60px 0
/*revies*/
.revies
  padding: 60px 0
/*social*/
/*ui*/

/*btn*/
/*btns*/
/*checkbox*/
/*datapicker*/
/*forms*/
/*input*/
/*link*/
.page-link
  // color: inheirt
  text-transform: none
  text-decoration: none
  /* 16/reg, 19 */
  font-family: Roboto-Regular
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 150%

  color: $braun-900

  &:hover
    text-decoration: underline
    
  &:disabled
    opacity: 0.5

  &_arrow
    display: flex
    align-items: center
/*modals*/
/*radio*/
/*search*/
/*select*/