small 
    opacity: 1 !important
.header
    padding: 16px 0 10px
    +md-block
        padding-bottom: 16px
    background-color: $color_white
    position: sticky
    top: 0
    z-index: 100
    .wrapper
        position: relative

    &-inner
        +row-flex

        flex-wrap: nowrap
        align-items: center
        justify-content: space-between
    &__logo
        // +col
        // +size(4)
        // +size-sm(4)
        // +size-md(4)
        margin-left: -5px
        +sm-block
            margin-left: 0
        a
            display: flex
        img
            // transform: scale(1.2)
            max-width: 152px
            max-height: 100px
            // width: 100%
            // object-fit: cover
    &__nav
        +col
        // +size(4)
        // +size-sm(4)
        // +size-md(4)
        
        display: none
        flex-grow: 1
        text-align: center
        +sm-block
            display: block
        .page-link
            +col
            white-space: nowrap

    &__phone
        margin-left: -16px
        +sm-block
            margin-left: 0
        .page-link
            white-space: nowrap
            small 
                opacity: 1 !important
        
        .page-fl-aic
            font-size: 14px
            line-height: 150%
            &.page-fl-aic__block
                flex-direction: column
                align-items: flex-start
            &-block
                display: flex
                .page__text
                    font-size: 10px
    &__menu
        .menu-btn
            /* Auto layout */
            display: flex
            justify-content: center
            align-items: center
            padding: 8px
            gap: 8px
            margin-left: 10px
            width: 62px
            height: 30px

            /* braun/900 */
            border: 1px solid $braun-900
            border-radius: 50px
