header.header
    .wrapper 
        .header-inner
            .header__logo
                a(href="/")
                    img(src="assets/images/png/logo.png", alt="logo") 
            .header__nav 
                nav.page-nav
                    a.page-link(href="/") Коттеджи
                    a.page-link(href="/") Программы
                    a.page-link(href="/") Кухня
                    a.page-link(href="/") Впечатления
            .header__phone
                +link({
                    href: "tel:+7 (495) 222-02-23",
                    title: "+7 (495) 222-02-23"
                })
            .header__menu
                .menu
