.header
    padding: 16px 0 10px
    +md-block
        padding-bottom: 16px
    background-color: $color_white
    position: sticky
    top: 0
    z-index: 100
    .wrapper
        position: relative

    &-inner
        +row-flex

        flex-wrap: nowrap
        align-items: center
        // justify-content: space-between
    &__logo
        // +col
        // +size(4)
        // +size-sm(4)
        // +size-md(4)
        a
            display: flex
        img
            transform: scale(1.2)
            max-width: 152px
            max-height: 100px
            width: 100%
            object-fit: cover
            +md-block
                transform: scale(1)
    &__nav
        +col
        // +size(4)
        // +size-sm(4)
        // +size-md(4)
        .page-link
            +col
            .page-link
            white-space: nowrap
        display: none
        flex-grow: 1
        text-align: center
        +sm-block
            display: block

    &__phone
        .page-link
            white-space: nowrap
    &__menu
        .menu-btn
            /* Auto layout */
            display: flex
            justify-content: center
            align-items: center
            padding: 8px
            gap: 8px
            margin-left: 10px
            width: 62px
            height: 30px

            /* braun/900 */
            border: 1px solid $braun-900
            border-radius: 50px
