header.header
    .wrapper 
        .header-inner
            .header__logo
                a(href="/")
                    img(src="", alt="logo") 
            .header__nav 
                nav.page-nav
                    a.page-link(href="/") Коттеджи
                    a.page-link(href="/") Программы
                    a.page-link(href="/") Кухня
                    a.page-link(href="/") Впечатления
            .header__phone
                a.page-link.page-link_phone(href="tel:+7 (495) 222-02-23") +7 (495) 222-02-23
                +link({
                    href: "tel:+7 (495) 222-02-23",
                    title: "+7 (495) 222-02-23"
                })