header.header
    .wrapper 
        .header-inner
            .header__logo
                a(href="/")
                    img(src="assets/images/svg/logo.svg", alt="logo") 
            .header__nav 
                nav.page-nav 
                    +links([
                        {
                            href: '/',
                            title: 'Коттеджи',
                        },
                        {
                            href: '/',
                            title: 'Программы',
                        },
                        {
                            href: '/',
                            title: 'Кухня',
                        },
                        {
                            href: '/',
                            title: 'Впечатления',
                        },
                    ])
            .header__phone
                .page-phone
                    .svg-phone.svg-phone-box
                    +link({
                        href: "tel:+7 (495) 222-02-23",
                        title: "+7 (495) 222-02-23"
                    })
            .header__menu
                .menu
                    .menu-btn
                        .svg-view-list.svg-view-list-box
