//-single-bath-page
section.single-bath-page
  .wrapper
    .single-bath-page-inner
      .single-bath-page__title
        button(onclick='javascript:history.back()' class="page-link page-link-back") 
          img(src="assets/images/svg/icon-cheveron-left.svg", alt="icon")
        h3.page__title-h3.page__title.page_regular Жилой комплекс с баней №
      .single-bath-page-img
        .single-bath-page__img 
          a.single-bath-page__img-box.div1(href="assets/images/png/archive-bath/single-bath-page-img-1.png" data-slug="cat" data-fancybox="gallery")
            img(src="assets/images/png/archive-bath/single-bath-page-img-1.png", alt="")
          a.single-bath-page__img-box.div2(href="assets/images/png/archive-bath/single-bath-page-img-22.png" data-slug="cat" data-fancybox="gallery")
            img(src="assets/images/png/archive-bath/single-bath-page-img-22.png", alt="")
          a.single-bath-page__img-box.div3(href="assets/images/png/archive-bath/single-bath-page-img-2.png" data-slug="cat" data-fancybox="gallery")
            img(src="assets/images/png/archive-bath/single-bath-page-img-2.png", alt="")
          a.single-bath-page__img-box.div4(href="assets/images/png/archive-bath/single-bath-page-img-3.png" data-slug="cat" data-fancybox="gallery")
            img(src="assets/images/png/archive-bath/single-bath-page-img-3.png", alt="")
          a.single-bath-page__img-box.div5(href="assets/images/png/archive-bath/single-bath-page-img-4.png" data-slug="cat" data-fancybox="gallery")
            img(src="assets/images/png/archive-bath/single-bath-page-img-4.png", alt="")
          a.single-bath-page__img-box.div5(href="assets/images/png/archive-bath/single-bath-page-img-4.png" data-slug="cat" data-fancybox="gallery")
            img(src="assets/images/png/archive-bath/single-bath-page-img-4.png", alt="")
          a.single-bath-page__img-box.div5(href="assets/images/png/archive-bath/single-bath-page-img-4.png" data-slug="cat" data-fancybox="gallery")
            img(src="assets/images/png/archive-bath/single-bath-page-img-4.png", alt="")
      .single-bath-page-advantages
        h3.page__title-h3.page__title.page_regular Для Вас
        .single-bath-page-advantages__blocks
          .single-bath-page-advantage
            .single-bath-page-advantage__icons
              img(src="assets/icons/svg/spriteSVG.svg#rss", alt="")
            .single-bath-page-advantage__title
              h6.page__title.page__title-h6 Легкость
            .single-bath-page-advantage__text
              p.page__text Почувствуете себя легче и моложе, почистите бронхи и лёгкие
          .single-bath-page-advantage
            .single-bath-page-advantage__icons
              img(src="assets/icons/svg/spriteSVG.svg#rss", alt="")
            .single-bath-page-advantage__title
              h6.page__title-h6 Легкость
            .single-bath-page-advantage__text
              p.page__text Почувствуете себя легче и моложе, почистите бронхи и лёгкие
          .single-bath-page-advantage
            .single-bath-page-advantage__icons
              img(src="assets/icons/svg/spriteSVG.svg#rss", alt="")
            .single-bath-page-advantage__title
              h6.page__title-h6 Легкость
            .single-bath-page-advantage__text
              p.page__text Почувствуете себя легче и моложе, почистите бронхи и лёгкие
          .single-bath-page-advantage
            .single-bath-page-advantage__icons
              img(src="assets/icons/svg/spriteSVG.svg#rss", alt="")
            .single-bath-page-advantage__title
              h6.page__title-h6 Легкость
            .single-bath-page-advantage__text
              p.page__text Почувствуете себя легче и моложе, почистите бронхи и лёгкие

        .single-bath-page-advantages__lists
          ul.page-ul 
            li 
              ul
                li 
                  img(src="assets/icons/svg/spriteSVG.svg#rss", alt="")
                  p.page__text Wifi
                li 
                  img(src="assets/icons/svg/spriteSVG.svg#smart-tv", alt="")
                  p.page__text Телевизор со smart
                li 
                  img(src="assets/icons/svg/spriteSVG.svg#Commode", alt="")
                  p.page__text Туалет и душевая
                li 
                  img(src="assets/icons/svg/spriteSVG.svg#bed", alt="")
                  p.page__text Двуспальная кровать
          ul.page-ul 
            li 
              ul
                li 
                  img(src="assets/icons/svg/spriteSVG.svg#table", alt="")
                  p.page__text Стол
                li 
                  img(src="assets/icons/svg/spriteSVG.svg#deck-chair", alt="")
                  p.page__text 2 шезлонга
                li 
                  img(src="assets/icons/svg/spriteSVG.svg#river", alt="")
                  p.page__text Спуск к воде
                li 
                  img(src="assets/icons/svg/spriteSVG.svg#yacht", alt="")
                  p.page__text Парковка яхт
      .single-bath-page-description 
        h3.page__title-h3.page__title.page_regular Описание
        .page__text В лесной части клуба уютно расположились коттеджные домики с гостиничными номерами. 
          <br> <br> Один коттедж состоит из двух или трех двухместных номеров с отдельными входами и индивидуальными меблированными верандами. 
          <br> <br> В номерах есть все необходимое для комфортного загородного отдыха, а также доступно круглосуточное комплексное обслуживание по меню блюд и услуг яхт-клуба “Адмирал”.
      .single-bath-page-more-order
        h3.page__title-h3.page__title.page_regular Заказажите дополнительно
        .single-bath-page-more-order__items
          .single-bath-page-more-order__item
            h3.page__title-h3.page__title.page_regular Блюда авторской кухни
            p.page__text Сервис доставки из ресторана с сервировкой в коттедже. 
            .single-bath-page-more-order__item-img 
              img(src="assets/images/png/archive-bath/single-bath-page-more-order-img-2.png", alt="")
            .single-bath-page-more-order__item-link
              +link-arrow({
                href:"",
                title: "Посмотреть меню"
              })
          .single-bath-page-more-order__item
            h3.page__title-h3.page__title.page_regular Впечатления
            p.page__text Процедуры парения и спа, водные виды спорта, яхтинг
            .single-bath-page-more-order__item-img 
              img(src="assets/images/png/archive-bath/single-bath-page-more-order-img-1.png", alt="")
            .single-bath-page-more-order__item-link
              +link-arrow({
                href:"",
                title: "Посмотреть впечатления"
              })
      include ../_order-form/order-form.component.pug
      .single-bath-page-information
        h3.page__title-h3.page__title.page_regular Важная информация
        ul.page-ul 
          li Бронирование домов
            ul
              li 
                img(src="assets/icons/svg/spriteSVG.svg#check-circle", alt="")
                p.page__text Прибытие: 15:00 - 22.00
              li 
                img(src="assets/icons/svg/spriteSVG.svg#check-circle", alt="")
                p.page__text Выезд: 12.00
              li 
                img(src="assets/icons/svg/spriteSVG.svg#noun-no-smoking-1322400", alt="")
                p.page__text Курение в доме запрещено
              li 
                img(src="assets/icons/svg/spriteSVG.svg#noun-no-smoking-1322400", alt="")
                p.page__text Размещение с животными запрещено
          li Правила отмены
            ul
              li 
                img(src="assets/icons/svg/spriteSVG.svg#exclamation-circle", alt="")
                p.page__text Для возврата оплаты за проживание отмена производится не позже, чем за 3 суток
              li 
                img(src="assets/icons/svg/spriteSVG.svg#exclamation-circle", alt="")
                p.page__text За отмену бронирования меньше, чем за 3 суток, взимается компенсация
          li Здоровье и безопасность
            ul
              li 
                img(src="assets/icons/svg/spriteSVG.svg#noun-virus-1182496", alt="")
                p.page__text Применяются правила социального дистанцирования и другие рекомендации, связанные с пандемией
              li 
                img(src="assets/icons/svg/spriteSVG.svg#credit-card", alt="")
                p.page__text Залог за сохранность имущества: если вы нанесете ущерб жилью, вам придется заплатить до 10 000₽
