extends ../pug/templates/template
block title
	title Title Pages
block append style
block content
	main.page
		include ../components/_banner/banner.component.pug
		include ../components/_info-block/info-block.component.pug
		include ../components/_info-block-certificates/info-block-certificates.component.pug
		include ../components/_slider-banner/slider-banner.component.pug
		include ../components/_info-block-cards/info-block-cards.component.pug
		include ../components/_slider-banner/slider-banner.component2.pug
		include ../components/_reviews/review.component.pug
		include ../components/_slider-banner/slider-banner.component3.pug
		include ../components/_table/table.component.pug
		include ../components/_callback/callback.component.pug
block append style
	
block append script
	script(src="/js/debuggrid/debuggrid.component.js")
	script(src="/js/header/header.component.js")