.page
  &_regular
    font-family: Philosopher-Regular
    font-style: normal
    font-weight: 400
  &__title
    color: inherit

    &-h1
      font-size: 56px
      line-height: 120%

    &-h2
      font-size: 48px
      line-height: 120%

    &-h3
      font-size: 26px
      line-height: 150%

  &__text
    font-size: 22px
    line-height: 150%
    color: $braun-900
