+reset()
/* __reset__ */
/* __base__ */
.wrapper
  +wrapper()
  +to($break_mmd)
    max-width: 1100px
    padding-left: 24px
    padding-right: 24px
  +mmd-block
    padding-left: 24px
    padding-right: 24px

+scrollbar($color_scrollbar-track, $color_scrollbar-thumb)

@font-face 
  +font($font, $fontBold)

@font-face 
  +font($font, $fontRegular)

@font-face 
  +font(Philosopher, Philosopher-Regular)
  
@font-face 
  +font(Roboto, Roboto-Regular)

@font-face 
  +font(Roboto, Roboto-Bold)


body 
  color: $braun-900
  font-family: $fontRegular

strong
  font-weight: bold
a, button
  cursor: pointer
  &:focus
      outline: none
  

input
  cursor: text
  &:focus
      outline: none
a
  color: $braun-900
  text-decoration: none

h1,h2,h3,h4,h5,h6
  color: $blue-500
p
  color: $braun-900

/* __base__ */