/*info-block*/
.info-block
  .page__title,
  .page__text
    +shift-left(1)
    +size(6)
    +size-md(6)
  .page__title
    color: $blue-500
    margin-bottom: 16px
  .page__text
    margin-bottom: 24px