//-info-block
//- Инфоблок с текстом, описанием и большим баннером см.скрин 
section.info-block 
  .wrapper
    .info-block-inner
      h2.page__title.page_regular.page__title-h2 Адмиральские бани
      p.page__text.page_regular — это 6 коттеджей с русской баней, спа-программы, круглосуточная кухня и река впечатлений
  .info-block__img 
    img(src="assets/images/png/main-page/banner-admiral@2x.png", alt="banner-admiral")

