//-cuisine-contacts
section.cuisine-contacts
  .wrapper
    .cuisine-contacts-inner
      .cuisine-contacts__map
        img(src="assets/images/png/cuisine/img-map.png", alt="map")
      .cuisine-contacts__text 
        h3.page__title.page_regular.page__title-h3 Рестораны на территории
        p.page__text В шаговой доступности от банного комплексаесть два ресторана:
        .cuisine-contacts__text-item
          span «Дикий Койот»: 
            a.page-link(href="tel:+7 (977) 697-82-49")  +7 (977) 697-82-49
          div.page__text Пн-Суб: 11.00-21.00, Вс: 11.00-20.00
        .cuisine-contacts__text-item
          span «YACHTLOUNGE CAFE BAR»: 
            a.page-link(href="tel:+7 (977) 697-54-45")  +7 (977) 697-54-45
          div.page__text Пн-Суб: 11.00-21.00, Вс: 11.00-20.00