extends ../../pug/templates/template
block base
	base(href="../")
block title
	title Archive
block append style
block content
	main.page
		include ../../components/_contacts/_contacts.component.pug
block append style


block append script